@import "../../../style/default";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.emails {
  width: 300px;
  padding: 0;
}

.jide-cell {
  & h4 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 10px;
    font-weight: normal;
    font-size: 1.3em;
    line-height: 1.4em;
    margin: @unit 0;
  }
}

.editor {
  float: left;
  margin-right: (@unit * 2);
  display: none;
}

.editing .editor {
  display: inline-block;
}

.message {
  padding-bottom: @unit;
}

.row {
  clear: both;

  & > span {
    float: right;
//    color: @border-color;
  }

  & > h3 {
    margin: @unit (@unit * 2) @unit 0;
    font-size: 1em;
    display: inline-block;
  }

  & > .message {
    width: (300px - @unit * 2);
  }
}

.heading {
  & > .jide-label {
    text-align: center;
  }
}

.detail-row > .jide-component {
  border-bottom: 1px solid lightgray;

  &:last-child {
    border-bottom: 0;
  }

  &.jide-hbox > .jide-label {
    #padding > .large;
  }

  &.jide-label {
    border-bottom: 1px solid lightgray;
    #padding > .large;
  }

  &:not(.jide-labeled):not(.jide-hbox) {
    #padding > .large;
  }
}

.detail-row:last-child {
  border-bottom: 0;
}

.detail-row {
  & > pre {
    font: 12px Lucida Sans Unicode, Lucida Grande, sans-serif;
  }
}

.email {
  font-weight: bold;
}

// fix problem with font-awesome
.jide-labeled .icon-large:before {
  vertical-align: 0;
}

[class^="icon-"], [class*=" icon-"] {
  line-height: @line-height-base !important;
}