/**
 * The Default style is a simple yet good looking default design
 * for jide.js components. It includes nice backgrounds, paddings and more for
 * every component of jide.js.
 *
 * It can be modified by changing the value of the variables defined in
 * <code>default/ColorScheme.less</code>.
 */
/**
 * Default theme for jide.js, based on https://github.com/designmodo/Flat-UI
 */
/**
 * The Basic style contains only the layout and functionality required to display
 * a Component. It does not include any styling at all (no padding, no background, no font color, ...).
 *
 * It must be included by every custom design to make sure that all components work as expected.s
 */
.jide-component {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}
.jide-textinput {
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
}
[draggable] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.jide-state-disabled {
  cursor: default !important;
}
.jide-col-resize {
  cursor: move;
  cursor: e-resize;
  cursor: ew-resize;
  cursor: col-resize;
}
.jide-hbox.jide-use-table {
  display: table;
  padding: 0;
  border-collapse: separate;
}
.jide-hbox.jide-use-table > div {
  display: table-cell;
  vertical-align: top;
}
.jide-hbox.jide-use-table.jide-hbox-fillHeight > div {
  height: 100%;
}
.jide-hbox.jide-use-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-flex-align: start;
  -o-align-items: flex-start;
  align-items: flex-start;
}
.jide-hbox.jide-use-flex.jide-hbox-fillHeight {
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-flex-align: stretch;
  -o-align-items: stretch;
  align-items: stretch;
}
.jide-hbox.jide-use-flex > .jide-hbox-grow {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1 0 auto;
  -o-flex: 1;
  flex: 1;
}
.jide-hbox.jide-use-legacy-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
}
.jide-hbox.jide-use-legacy-flex.jide-hbox-fillHeight {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
}
.jide-hbox.jide-use-legacy-flex > .jide-hbox-grow {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
}
.jide-vbox.jide-use-table {
  display: table;
  padding: 0;
  border-collapse: separate;
}
.jide-vbox.jide-use-table > div {
  display: table-row;
}
.jide-vbox.jide-use-table.jide-hbox-fillWidth > div {
  width: 100%;
}
.jide-vbox.jide-use-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-flex-align: start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.jide-vbox.jide-use-flex.jide-vbox-fillHeight {
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-flex-align: stretch;
  -o-align-items: stretch;
  align-items: stretch;
}
.jide-vbox.jide-use-flex > .jide-vbox-grow {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1 0 auto;
  -o-flex: 1;
  flex: 1;
}
.jide-vbox.jide-use-legacy-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
}
.jide-vbox.jide-use-legacy-flex.jide-vbox-fillHeight {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
}
.jide-vbox.jide-use-legacy-flex > .jide-vbox-grow {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
}
.jide-borderpane.jide-use-table {
  display: table;
  padding: 0;
}
.jide-borderpane.jide-use-table > header,
.jide-borderpane.jide-use-table > footer {
  display: table-row;
}
.jide-borderpane.jide-use-table > header,
.jide-borderpane.jide-use-table > footer,
.jide-borderpane.jide-use-table > header > .jide-component,
.jide-borderpane.jide-use-table > footer > .jide-component {
  width: 100%;
}
.jide-borderpane.jide-use-table > div {
  display: table;
  width: 100%;
}
.jide-borderpane.jide-use-table > div > aside,
.jide-borderpane.jide-use-table > div > div {
  display: table-cell;
}
.jide-borderpane.jide-use-table > div > aside,
.jide-borderpane.jide-use-table > div > div,
.jide-borderpane.jide-use-table > div > aside > .jide-component,
.jide-borderpane.jide-use-table > div > div > .jide-component {
  height: 100%;
}
.jide-borderpane.jide-use-table > div > div,
.jide-borderpane.jide-use-table > div > div > .jide-component {
  width: 100%;
}
.jide-borderpane.jide-use-flex {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.jide-borderpane.jide-use-flex,
.jide-borderpane.jide-use-flex > div.jide-borderpane-centerrow {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
}
.jide-borderpane.jide-use-flex > div.jide-borderpane-centerrow,
.jide-borderpane.jide-use-flex > div > .jide-borderpane-center {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1 0 auto;
  -o-flex: 1;
  flex: 1;
}
.jide-borderpane.jide-use-legacy-flex {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
}
.jide-borderpane.jide-use-legacy-flex > div.jide-borderpane-centerrow {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
}
.jide-borderpane.jide-use-legacy-flex > div.jide-borderpane-centerrow,
.jide-borderpane.jide-use-legacy-flex > div > .jide-borderpane-center {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
}
.jide-borderpane.jide-use-grid {
  display: -ms-grid;
  display: -webkit-grid;
  display: -o-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
  -ms-grid-rows: auto 1fr auto;
  -webkit-grid-columns: auto 1fr auto;
}
.jide-borderpane.jide-use-grid > .jide-borderpane-left,
.jide-borderpane.jide-use-grid > .jide-borderpane-top,
.jide-borderpane.jide-use-grid > .jide-borderpane-bottom {
  -ms-grid-column: 1;
  -webkit-grid-column: 1;
  -o-grid-column: 1;
  grid-column: 1;
}
.jide-borderpane.jide-use-grid > .jide-borderpane-top {
  -ms-grid-row: 1;
  -webkit-gid-row: 1;
  -o-grid-row: 1;
  grid-row: 1;
  -ms-grid-column-span: 3;
  -webkit-grid-column-span: 3;
  -o-grid-column-span: 3;
  grid-column-span: 3;
}
.jide-borderpane.jide-use-grid > .jide-borderpane-bottom {
  -ms-grid-row: 3;
  -webkit-grid-row: 3;
  -o-grid-row: 3;
  grid-row: 3;
  -ms-grid-column-span: 3;
  -webkit-grid-column-span: 3;
  -o-grid-column-span: 3;
  grid-column-span: 3;
}
.jide-borderpane.jide-use-grid > .jide-borderpane-left,
.jide-borderpane.jide-use-grid > .jide-borderpane-center,
.jide-borderpane.jide-use-grid > .jide-borderpane-right {
  -ms-grid-row: 2;
  -webkit-grid-row: 2;
  -o-grid-row: 2;
  grid-row: 2;
}
.jide-borderpane.jide-use-grid > .jide-borderpane-center {
  -ms-grid-column: 2;
  -webkit-grid-column: 2;
  -o-grid-column: 2;
  grid-column: 2;
}
.jide-borderpane.jide-use-grid > .jide-borderpane-right {
  -ms-grid-column: 3;
  -webkit-grid-column: 3;
  -o-grid-column: 3;
  grid-column: 3;
}
.jide-gridpane.jide-use-table {
  border-spacing: 0;
}
.jide-gridpane.jide-use-table > tbody {
  width: 100%;
  height: 100%;
}
.jide-gridpane.jide-use-table > tbody > tr > td {
  padding: 0;
  vertical-align: top;
  text-align: left;
}
.jide-gridpane.jide-use-table > tbody > tr > td > * {
  margin: 0;
}
.jide-gridpane.jide-use-grid {
  display: -ms-grid;
  display: -webkit-grid;
  display: -o-grid;
  display: grid;
}
.jide-anchorpane,
.jide-stackpane {
  position: relative;
}
.jide-anchorpane > .jide-component,
.jide-stackpane > .jide-component {
  position: absolute;
}
.jide-tilepane {
  display: table;
}
.jide-tilepane.jide-orientation-horizontal > div {
  display: table-row;
}
.jide-tilepane.jide-orientation-vertical > div {
  display: table-cell;
}
.jide-tilepane > div > div {
  display: table-row;
}
.jide-labeled-graphic {
  vertical-align: middle;
}
.jide-labeled-content-display-top {
  display: inline-table;
}
.jide-labeled-content-display-top .jide-labeled-graphic,
.jide-labeled-content-display-top .jide-labeled-text {
  display: table-row;
  text-align: center;
}
.jide-labeled-content-display-textOnly .jide-labeled-graphic {
  display: none;
}
.jide-labeled-content-display-graphicOnly .jide-labeled-text {
  display: none;
}
.jide-buttonbase,
.jide-menu {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: inline-block;
  cursor: pointer;
}
.jide-checkbox > .jide-labeled-graphic {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.jide-checkbox .jide-checkbox-check {
  opacity: 0;
}
.jide-checkbox .jide-checkbox-indeterminate {
  opacity: 0;
}
.jide-checkbox.jide-state-selected .jide-checkbox-check {
  opacity: 100;
}
.jide-checkbox.jide-state-indeterminate .jide-checkbox-indeterminate {
  opacity: 100;
}
.jide-radiobutton .jide-radiobutton-mark {
  opacity: 0;
}
.jide-radiobutton.jide-state-selected .jide-radiobutton-mark {
  opacity: 100;
}
.jide-radiobutton > .jide-labeled-graphic {
  margin-right: 5px;
}
.jide-accordion > .jide-vbox > div > .jide-titledpane {
  display: block;
}
.jide-titledpane > .jide-titledpane-title {
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}
.jide-titledpane > .jide-titledpane-content {
  display: none;
  overflow: hidden;
}
.jide-titledpane.jide-expanded > .jide-titledpane-content {
  display: block;
}
.jide-titledpane.jide-titledpane-animated > .jide-titledpane-content {
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  -o-transition: height 0.5s linear;
  transition: height 0.5s linear;
  -webkit-backface-visibility: hidden;
}
.jide-popup {
  position: absolute;
  -webkit-animation: show-popup 0.25s ease-in;
  -moz-animation: show-popup 0.25s ease-in;
  -o-animation: show-popup 0.25s ease-in;
  animation: show-popup 0.25s ease-in;
  left: -1000px;
  top: -1000px;
}
@-webkit-keyframes show-popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@-moz-keyframes show-popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes show-popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
.jide-menuitem,
.jide-checkboxmenuitem,
.jide-radiobuttonmenuitem,
.jide-menu {
  display: block;
}
.jide-contextmenu {
  display: inline-table;
  border-collapse: collapse;
}
.jide-contextmenu > div {
  display: table-row;
  width: 100%;
  vertical-align: middle;
  font-size: 0;
}
.jide-separator {
  padding: 0;
}
.jide-separator.jide-orientation-vertical {
  width: 1px;
  height: 100%;
}
.jide-separator.jide-orientation-horizontal {
  width: 100%;
  height: 1px;
}
.jide-separator.jide-separator-spacer {
  background: transparent !important;
}
.jide-menubar > .jide-hbox > div,
.jide-toolbar > .jide-hbox > div {
  vertical-align: middle;
}
.jide-toolbar > div > div {
  margin-right: 5px;
}
.jide-toolbar > div > div:last-child {
  margin-right: 0;
}
.jide-progressbar {
  overflow: hidden;
}
.jide-progressbar > .jide-progress-bar {
  height: 100%;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
  -webkit-backface-visibility: hidden;
}
.jide-progressbar.jide-progressbar-indeterminate > .jide-progress-bar {
  width: 100% !important;
}
.jide-choicebox,
.jide-comboboxbase {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: inline-block;
  cursor: pointer;
}
.jide-choicebox > .jide-choicebox-label,
.jide-comboboxbase > .jide-choicebox-label,
.jide-choicebox .jide-textfield,
.jide-comboboxbase .jide-textfield {
  display: inline-block;
  margin-right: 0.5em;
}
.jide-choicebox > .jide-choicebox-button,
.jide-comboboxbase > .jide-choicebox-button,
.jide-choicebox .jide-button,
.jide-comboboxbase .jide-button {
  display: inline-block;
}
.jide-choicebox > .jide-textfield,
.jide-comboboxbase > .jide-textfield,
.jide-choicebox > .jide-button,
.jide-comboboxbase > .jide-button {
  height: 100%;
}
.jide-popup.jide-choicebox-popup > .jide-listview,
.jide-popup.jide-combobox-popup > .jide-listview {
  width: 100%;
}
.jide-popup.jide-choicebox-popup > .jide-listview > li > .jide-cell,
.jide-popup.jide-combobox-popup > .jide-listview > li > .jide-cell {
  display: block;
}
.jide-listview {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.jide-listview > li {
  margin: 0;
  padding: 0;
}
.jide-listview > li > .jide-cell {
  width: 100%;
}
.jide-listview > li > .jide-cell:hover {
  cursor: pointer;
}
.jide-listview.jide-orientation-horizontal {
  display: inline-table;
}
.jide-listview.jide-orientation-horizontal > li {
  display: table-cell;
}
.jide-component {
  font-size: 14px;
  line-height: 1.231;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  margin: 0;
}
.jide-component.jide-state-disabled,
.jide-component[disabled] {
  background: #bdc3c7 !important;
  color: rgba(255, 255, 255, 0.75) !important;
  opacity: .7;
}
.jide-labeled {
  padding: 5px 10px;
}
.jide-buttonbase {
  text-decoration: none;
}
.jide-button,
.jide-togglebutton {
  background: #bdc3c7;
  color: #ffffff;
  -webkit-transition: 0.25s linear;
  -moz-transition: 0.25s linear;
  -o-transition: 0.25s linear;
  transition: 0.25s linear;
  -webkit-backface-visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 0 solid transparent;
}
.jide-button:hover,
.jide-togglebutton:hover,
.jide-button:focus,
.jide-togglebutton:focus {
  background: #cacfd2;
  color: rgba(255, 255, 255, 0.75);
}
.jide-button:active,
.jide-togglebutton:active,
.jide-button.armed,
.jide-togglebutton.armed {
  background: #a1a6a9;
}
.jide-button.jide-state-selected,
.jide-togglebutton.jide-state-selected {
  background: #1abc9c;
  color: #ffffff;
}
.jide-button.jide-state-selected:hover,
.jide-togglebutton.jide-state-selected:hover,
.jide-button.jide-state-selected:focus,
.jide-togglebutton.jide-state-selected:focus {
  background: #48c9b0;
  color: rgba(255, 255, 255, 0.75);
}
.jide-button.jide-state-selected:active,
.jide-togglebutton.jide-state-selected:active,
.jide-button.jide-state-selected.armed,
.jide-togglebutton.jide-state-selected.armed {
  background: #16a085;
}
.jide-checkbox > .jide-labeled-graphic > svg {
  background: #bdc3c7;
  color: #ffffff;
  padding: 5px;
  -webkit-transition: 0.25s linear;
  -moz-transition: 0.25s linear;
  -o-transition: 0.25s linear;
  transition: 0.25s linear;
  -webkit-backface-visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.jide-checkbox > .jide-labeled-graphic > svg:hover,
.jide-checkbox > .jide-labeled-graphic > svg:focus {
  background: #cacfd2;
  color: rgba(255, 255, 255, 0.75);
}
.jide-checkbox > .jide-labeled-graphic > svg:active,
.jide-checkbox > .jide-labeled-graphic > svg.armed {
  background: #a1a6a9;
}
.jide-checkbox-check,
.jide-checkbox-indeterminate {
  stroke: #ffffff;
  fill: transparent;
  stroke-width: 20px;
}
.jide-radiobutton-radio {
  stroke: #ffffff;
  stroke-width: 10px;
  fill: #bdc3c7;
}
.jide-radiobutton-mark {
  fill: #ffffff;
}
.jide-accordion {
  border: 1px solid #1abc9c;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.jide-accordion > div > .jide-titledpane,
.jide-accordion > .jide-titledpane {
  border: 1px solid #1abc9c;
  border-width: 0px 0px 1px 0px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.jide-accordion > div > .jide-titledpane:last-child,
.jide-accordion > .jide-titledpane:last-child {
  border-bottom-width: 0;
}
.jide-titledpane {
  border: 1px solid #1abc9c;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.jide-titledpane > .jide-titledpane-content {
  border-top: 1px solid #1abc9c;
}
.jide-popup {
  padding: 10px 20px;
  background: #34495e;
  border: 1px solid #34495e;
  color: #ffffff;
}
.jide-menu {
  padding: 10px 20px;
}
.jide-menuitem,
.jide-checkboxmenuitem,
.jide-radiobuttonmenuitem,
.jide-menu {
  padding: 10px 20px;
  background: #1abc9c;
  color: #ffffff;
}
.jide-menuitem:hover,
.jide-checkboxmenuitem:hover,
.jide-radiobuttonmenuitem:hover,
.jide-menu:hover,
.jide-menuitem:focus,
.jide-checkboxmenuitem:focus,
.jide-radiobuttonmenuitem:focus,
.jide-menu:focus {
  background: #48c9b0;
  color: rgba(255, 255, 255, 0.75);
}
.jide-menuitem:active,
.jide-checkboxmenuitem:active,
.jide-radiobuttonmenuitem:active,
.jide-menu:active,
.jide-menuitem.armed,
.jide-checkboxmenuitem.armed,
.jide-radiobuttonmenuitem.armed,
.jide-menu.armed {
  background: #16a085;
}
.jide-contextmenu {
  padding: 0;
}
.jide-contextmenu .jide-menu > .jide-labeled-text:after {
  content: "\25B6";
  float: right;
}
.jide-separator {
  background: #1abc9c;
}
.jide-separator.jide-orientation-vertical {
  -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.6);
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.6);
}
.jide-separator.jide-orientation-horizontal {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}
.jide-separator.jide-separator-spacer {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.jide-menubar,
.jide-toolbar {
  background: #34495e;
  padding: 5px 10px;
}
.jide-menubar > .jide-labeled,
.jide-toolbar > .jide-labeled {
  color: #ffffff;
}
.jide-toolbar .jide-button:not(:active):not(.armed):not(:hover),
.jide-toolbar .jide-togglebutton:not(:active):not(.armed):not(:hover):not(.jide-state-selected) {
  background: transparent;
}
.jide-textinput {
  padding: 10px 20px;
  background: #ffffff;
  border: 1px solid #bdc3c7;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.jide-textinput:-moz-placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.jide-textinput::-moz-placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.jide-textinput:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.jide-textinput::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.jide-textinput.jide-placeholding {
  color: rgba(255, 255, 255, 0.75);
}
.jide-textinput:hover,
.jide-textinput:focus {
  outline: 0;
  border-color: #48c9b0;
}
.jide-textinput:active,
.jide-textinput.armed {
  border-color: #1abc9c;
}
.jide-textinput.jide-state-disabled,
.jide-textinput [disabled] {
  background: #f4f6f6;
}
.jide-progressbar {
  height: 17.234px;
  width: 10em;
  background: #bdc3c7;
  background-repeat: repeat-x;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.jide-progressbar > .jide-progress-bar {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: #1abc9c;
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-ms-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.jide-comboboxbase {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #bdc3c7;
  color: #ffffff;
}
.jide-comboboxbase:hover,
.jide-comboboxbase:focus {
  background: #cacfd2;
  color: rgba(255, 255, 255, 0.75);
}
.jide-comboboxbase:active,
.jide-comboboxbase.armed {
  background: #a1a6a9;
}
.jide-comboboxbase > .jide-textfield {
  border: 0 none;
  background: inherit;
}
.jide-comboboxbase.jide-state-editable > .jide-textfield {
  background: #ffffff;
  padding: 0;
}
.jide-popup.jide-choicebox-popup,
.jide-popup.jide-combobox-popup {
  padding: 0;
}
.jide-popup.jide-choicebox-popup > .jide-listview > li > .jide-cell,
.jide-popup.jide-combobox-popup > .jide-listview > li > .jide-cell {
  background: #bdc3c7;
  color: #ffffff;
  -webkit-transition: 0.25s linear;
  -moz-transition: 0.25s linear;
  -o-transition: 0.25s linear;
  transition: 0.25s linear;
  -webkit-backface-visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.jide-popup.jide-choicebox-popup > .jide-listview > li > .jide-cell:hover,
.jide-popup.jide-combobox-popup > .jide-listview > li > .jide-cell:hover,
.jide-popup.jide-choicebox-popup > .jide-listview > li > .jide-cell:focus,
.jide-popup.jide-combobox-popup > .jide-listview > li > .jide-cell:focus {
  background: #cacfd2;
  color: rgba(255, 255, 255, 0.75);
}
.jide-popup.jide-choicebox-popup > .jide-listview > li > .jide-cell:active,
.jide-popup.jide-combobox-popup > .jide-listview > li > .jide-cell:active,
.jide-popup.jide-choicebox-popup > .jide-listview > li > .jide-cell.armed,
.jide-popup.jide-combobox-popup > .jide-listview > li > .jide-cell.armed {
  background: #a1a6a9;
}
.jide-listview {
  padding: 0;
}
.jide-listview > li > .jide-cell {
  padding: 10px 20px;
  background: #ffffff;
  color: #ffffff;
  color: #34495e;
}
.jide-listview > li > .jide-cell:hover,
.jide-listview > li > .jide-cell:focus {
  background: #bdc3c7;
  color: rgba(255, 255, 255, 0.75);
}
.jide-listview > li > .jide-cell:active,
.jide-listview > li > .jide-cell.armed {
  background: #cacfd2;
}
.jide-listview > li > .jide-cell.jide-state-selected {
  background: #1abc9c;
  color: #ffffff;
}
.jide-listview > li > .jide-cell.jide-state-selected:hover,
.jide-listview > li > .jide-cell.jide-state-selected:focus {
  background: #48c9b0;
  color: rgba(255, 255, 255, 0.75);
}
.jide-listview > li > .jide-cell.jide-state-selected:active,
.jide-listview > li > .jide-cell.jide-state-selected.armed {
  background: #16a085;
}
.jide-listview.has-border > li > .jide-cell {
  border-bottom: 1px solid #bdc3c7;
}
.jide-listview.has-border > li:last-child > .jide-cell {
  border-bottom-width: 0;
}
html,
body {
  margin: 0;
  padding: 0;
}
.emails {
  width: 300px;
  padding: 0;
}
.jide-cell h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 10px;
  font-weight: normal;
  font-size: 1.3em;
  line-height: 1.4em;
}
.editor {
  float: left;
  margin-right: 10px;
  display: none;
}
.editing .editor {
  display: inline-block;
}
.message {
  padding-bottom: 5px;
}
.row {
  clear: both;
}
.row > span {
  float: right;
  margin-right: 5px;
}
.row > h3 {
  margin: 5px 0;
  font-size: 1em;
}
.heading > .jide-label {
  text-align: center;
}
.detail-row > .jide-component {
  border-bottom: 1px solid lightgray;
}
.detail-row > .jide-component:last-child {
  border-bottom: 0;
}
.detail-row > .jide-component.jide-hbox > .jide-label {
  padding: 10px 20px;
}
.detail-row > .jide-component.jide-label {
  border-bottom: 1px solid lightgray;
  padding: 10px 20px;
}
.detail-row > .jide-component:not(.jide-labeled):not(.jide-hbox) {
  padding: 10px 20px;
}
.detail-row:last-child {
  border-bottom: 0;
}
.detail-row > pre {
  font: 12px Lucida Sans Unicode, Lucida Grande, sans-serif;
}
.email {
  font-weight: bold;
}
.jide-labeled .icon-large:before {
  vertical-align: 0;
}
[class^="icon-"],
[class*=" icon-"] {
  line-height: 1.231 !important;
}
