@import "../../../style/default";

.emails {
  width: 300px;
  padding: 0;
}

.jide-cell {
  padding: 10px;
  border: 1px solid @border-color;
  border-width: 0 0 1px 0;

  & h4 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 10px;
    margin: @padding 0;
    font-weight: normal;
    font-size: 1.3em;
    line-height: 1.4em;
  }
}

.jide-listview > li > .jide-cell.jide-state-selected {
  .gradient(lighten(#ADCBE1, 10%), #ADCBE1);
}

.jide-listview > li:last-child > .jide-cell {
  border-bottom-width: 0;
}

.editor {
  float: left;
  margin-right: (@padding * 2);
  display: none;
}

.editing .editor {
  display: inline-block;
}

.message {
  padding-bottom: @padding;
}

.row {
  clear: both;

  & > span {
    float: right;
    margin-right: @padding;
    color: @border-color;
  }

  & > h3 {
    margin: @padding 0;
    font-size: 1em;
  }
}

.heading {
  height: 40px;
  border-bottom: 1px solid darken(@border-color, 10%);

  & > .jide-label {
    text-align: center;
    padding: 0;
  }
}

.inbox {
  border-right: 1px solid @border-color;
}

.action-bar {
  padding: 0 20px;
}

.jide-toolbar .jide-buttonbase {
  padding: 2px 8px;
}

.detail-row > .jide-component {
  padding: 10px 20px;
  border-bottom: 1px solid lightgray;

  &:last-child {
    border-bottom: 0;
  }

  &.jide-label {
    padding: 10px 20px;
    border-bottom: 1px solid lightgray;
  }
}

.detail-row:last-child {
  border-bottom: 0;
}

.detail-row {
  & > pre {
    font: 12px Lucida Sans Unicode, Lucida Grande, sans-serif;
  }

  & .jide-label {
    //padding: 5px 0;
    //margin: 2px 0;
    border: 1px none;
  }
}

.email {
  font-weight: bold;
}

// fix problem with font-awesome
.jide-labeled .icon-large:before {
  vertical-align: 0;
}

.jide-hyperlink {
  padding: 0;
}