/**
 * The Default style is a simple yet good looking default design
 * for jide.js components. It includes nice backgrounds, paddings and more for
 * every component of jide.js.
 *
 * It can be modified by changing the value of the variables defined in
 * <code>default/ColorScheme.less</code>.
 */
/**
 * Default theme for jide.js, based on https://github.com/designmodo/Flat-UI
 */
/**
 * The Basic style contains only the layout and functionality required to display
 * a Component. It does not include any styling at all (no padding, no background, no font color, ...).
 *
 * It must be included by every custom design to make sure that all components work as expected.s
 */
.jide-component {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}
.jide-textinput {
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
}
[draggable] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.jide-state-disabled {
  cursor: default !important;
}
.jide-col-resize {
  cursor: move;
  cursor: e-resize;
  cursor: ew-resize;
  cursor: col-resize;
}
.jide-hbox.jide-use-table {
  display: table;
  padding: 0;
  border-collapse: separate;
}
.jide-hbox.jide-use-table > div {
  display: table-cell;
  vertical-align: top;
}
.jide-hbox.jide-use-table.jide-hbox-fillHeight > div {
  height: 100%;
}
.jide-hbox.jide-use-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-flex-align: start;
  -o-align-items: flex-start;
  align-items: flex-start;
}
.jide-hbox.jide-use-flex.jide-hbox-fillHeight {
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-flex-align: stretch;
  -o-align-items: stretch;
  align-items: stretch;
}
.jide-hbox.jide-use-flex > .jide-hbox-grow {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1 0 auto;
  -o-flex: 1;
  flex: 1;
}
.jide-hbox.jide-use-legacy-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
}
.jide-hbox.jide-use-legacy-flex.jide-hbox-fillHeight {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
}
.jide-hbox.jide-use-legacy-flex > .jide-hbox-grow {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
}
.jide-vbox.jide-use-table {
  display: table;
  padding: 0;
  border-collapse: separate;
}
.jide-vbox.jide-use-table > div {
  display: table-row;
}
.jide-vbox.jide-use-table.jide-hbox-fillWidth > div {
  width: 100%;
}
.jide-vbox.jide-use-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-flex-align: start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.jide-vbox.jide-use-flex.jide-vbox-fillHeight {
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-flex-align: stretch;
  -o-align-items: stretch;
  align-items: stretch;
}
.jide-vbox.jide-use-flex > .jide-vbox-grow {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1 0 auto;
  -o-flex: 1;
  flex: 1;
}
.jide-vbox.jide-use-legacy-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
}
.jide-vbox.jide-use-legacy-flex.jide-vbox-fillHeight {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
}
.jide-vbox.jide-use-legacy-flex > .jide-vbox-grow {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
}
.jide-borderpane.jide-use-table {
  display: table;
  padding: 0;
}
.jide-borderpane.jide-use-table > header,
.jide-borderpane.jide-use-table > footer {
  display: table-row;
}
.jide-borderpane.jide-use-table > header,
.jide-borderpane.jide-use-table > footer,
.jide-borderpane.jide-use-table > header > .jide-component,
.jide-borderpane.jide-use-table > footer > .jide-component {
  width: 100%;
}
.jide-borderpane.jide-use-table > div {
  display: table;
  width: 100%;
}
.jide-borderpane.jide-use-table > div > aside,
.jide-borderpane.jide-use-table > div > div {
  display: table-cell;
}
.jide-borderpane.jide-use-table > div > aside,
.jide-borderpane.jide-use-table > div > div,
.jide-borderpane.jide-use-table > div > aside > .jide-component,
.jide-borderpane.jide-use-table > div > div > .jide-component {
  height: 100%;
}
.jide-borderpane.jide-use-table > div > div,
.jide-borderpane.jide-use-table > div > div > .jide-component {
  width: 100%;
}
.jide-borderpane.jide-use-flex {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.jide-borderpane.jide-use-flex,
.jide-borderpane.jide-use-flex > div.jide-borderpane-centerrow {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
}
.jide-borderpane.jide-use-flex > div.jide-borderpane-centerrow,
.jide-borderpane.jide-use-flex > div > .jide-borderpane-center {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1 0 auto;
  -o-flex: 1;
  flex: 1;
}
.jide-borderpane.jide-use-legacy-flex {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
}
.jide-borderpane.jide-use-legacy-flex > div.jide-borderpane-centerrow {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
}
.jide-borderpane.jide-use-legacy-flex > div.jide-borderpane-centerrow,
.jide-borderpane.jide-use-legacy-flex > div > .jide-borderpane-center {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
}
.jide-borderpane.jide-use-grid {
  display: -ms-grid;
  display: -webkit-grid;
  display: -o-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
  -ms-grid-rows: auto 1fr auto;
  -webkit-grid-columns: auto 1fr auto;
}
.jide-borderpane.jide-use-grid > .jide-borderpane-left,
.jide-borderpane.jide-use-grid > .jide-borderpane-top,
.jide-borderpane.jide-use-grid > .jide-borderpane-bottom {
  -ms-grid-column: 1;
  -webkit-grid-column: 1;
  -o-grid-column: 1;
  grid-column: 1;
}
.jide-borderpane.jide-use-grid > .jide-borderpane-top {
  -ms-grid-row: 1;
  -webkit-gid-row: 1;
  -o-grid-row: 1;
  grid-row: 1;
  -ms-grid-column-span: 3;
  -webkit-grid-column-span: 3;
  -o-grid-column-span: 3;
  grid-column-span: 3;
}
.jide-borderpane.jide-use-grid > .jide-borderpane-bottom {
  -ms-grid-row: 3;
  -webkit-grid-row: 3;
  -o-grid-row: 3;
  grid-row: 3;
  -ms-grid-column-span: 3;
  -webkit-grid-column-span: 3;
  -o-grid-column-span: 3;
  grid-column-span: 3;
}
.jide-borderpane.jide-use-grid > .jide-borderpane-left,
.jide-borderpane.jide-use-grid > .jide-borderpane-center,
.jide-borderpane.jide-use-grid > .jide-borderpane-right {
  -ms-grid-row: 2;
  -webkit-grid-row: 2;
  -o-grid-row: 2;
  grid-row: 2;
}
.jide-borderpane.jide-use-grid > .jide-borderpane-center {
  -ms-grid-column: 2;
  -webkit-grid-column: 2;
  -o-grid-column: 2;
  grid-column: 2;
}
.jide-borderpane.jide-use-grid > .jide-borderpane-right {
  -ms-grid-column: 3;
  -webkit-grid-column: 3;
  -o-grid-column: 3;
  grid-column: 3;
}
.jide-gridpane.jide-use-table {
  border-spacing: 0;
}
.jide-gridpane.jide-use-table > tbody {
  width: 100%;
  height: 100%;
}
.jide-gridpane.jide-use-table > tbody > tr > td {
  padding: 0;
  vertical-align: top;
  text-align: left;
}
.jide-gridpane.jide-use-table > tbody > tr > td > * {
  margin: 0;
}
.jide-gridpane.jide-use-grid {
  display: -ms-grid;
  display: -webkit-grid;
  display: -o-grid;
  display: grid;
}
.jide-anchorpane,
.jide-stackpane {
  position: relative;
}
.jide-anchorpane > .jide-component,
.jide-stackpane > .jide-component {
  position: absolute;
}
.jide-tilepane {
  display: table;
}
.jide-tilepane.jide-orientation-horizontal > div {
  display: table-row;
}
.jide-tilepane.jide-orientation-vertical > div {
  display: table-cell;
}
.jide-tilepane > div > div {
  display: table-row;
}
.jide-labeled-graphic {
  vertical-align: middle;
}
.jide-labeled-content-display-top {
  display: inline-table;
}
.jide-labeled-content-display-top .jide-labeled-graphic,
.jide-labeled-content-display-top .jide-labeled-text {
  display: table-row;
  text-align: center;
}
.jide-labeled-content-display-textOnly .jide-labeled-graphic {
  display: none;
}
.jide-labeled-content-display-graphicOnly .jide-labeled-text {
  display: none;
}
.jide-buttonbase,
.jide-menu {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: inline-block;
  cursor: pointer;
}
.jide-checkbox > .jide-labeled-graphic {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.jide-checkbox .jide-checkbox-check {
  opacity: 0;
}
.jide-checkbox .jide-checkbox-indeterminate {
  opacity: 0;
}
.jide-checkbox.jide-state-selected .jide-checkbox-check {
  opacity: 100;
}
.jide-checkbox.jide-state-indeterminate .jide-checkbox-indeterminate {
  opacity: 100;
}
.jide-radiobutton .jide-radiobutton-mark {
  opacity: 0;
}
.jide-radiobutton.jide-state-selected .jide-radiobutton-mark {
  opacity: 100;
}
.jide-radiobutton > .jide-labeled-graphic {
  margin-right: 5px;
}
.jide-accordion > .jide-vbox > div > .jide-titledpane {
  display: block;
}
.jide-titledpane > .jide-titledpane-title {
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}
.jide-titledpane > .jide-titledpane-content {
  display: none;
  overflow: hidden;
}
.jide-titledpane.jide-expanded > .jide-titledpane-content {
  display: block;
}
.jide-titledpane.jide-titledpane-animated > .jide-titledpane-content {
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  -o-transition: height 0.5s linear;
  transition: height 0.5s linear;
  -webkit-backface-visibility: hidden;
}
.jide-popup {
  position: absolute;
  -webkit-animation: show-popup 0.25s ease-in;
  -moz-animation: show-popup 0.25s ease-in;
  -o-animation: show-popup 0.25s ease-in;
  animation: show-popup 0.25s ease-in;
  left: -1000px;
  top: -1000px;
}
@-webkit-keyframes show-popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@-moz-keyframes show-popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes show-popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
.jide-menuitem,
.jide-checkboxmenuitem,
.jide-radiobuttonmenuitem,
.jide-menu {
  display: block;
}
.jide-contextmenu {
  display: inline-table;
  border-collapse: collapse;
}
.jide-contextmenu > div {
  display: table-row;
  width: 100%;
  vertical-align: middle;
  font-size: 0;
}
.jide-separator {
  padding: 0;
}
.jide-separator.jide-orientation-vertical {
  width: 1px;
  height: 100%;
}
.jide-separator.jide-orientation-horizontal {
  width: 100%;
  height: 1px;
}
.jide-separator.jide-separator-spacer {
  background: transparent !important;
}
.jide-menubar > .jide-hbox > div,
.jide-toolbar > .jide-hbox > div {
  vertical-align: middle;
}
.jide-toolbar > div > div {
  margin-right: 5px;
}
.jide-toolbar > div > div:last-child {
  margin-right: 0;
}
.jide-progressbar {
  overflow: hidden;
}
.jide-progressbar > .jide-progress-bar {
  height: 100%;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
  -webkit-backface-visibility: hidden;
}
.jide-progressbar.jide-progressbar-indeterminate > .jide-progress-bar {
  width: 100% !important;
}
.jide-choicebox,
.jide-comboboxbase {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: inline-block;
  cursor: pointer;
}
.jide-choicebox > .jide-choicebox-label,
.jide-comboboxbase > .jide-choicebox-label,
.jide-choicebox .jide-textfield,
.jide-comboboxbase .jide-textfield {
  display: inline-block;
  margin-right: 0.5em;
}
.jide-choicebox > .jide-choicebox-button,
.jide-comboboxbase > .jide-choicebox-button,
.jide-choicebox .jide-button,
.jide-comboboxbase .jide-button {
  display: inline-block;
}
.jide-choicebox > .jide-textfield,
.jide-comboboxbase > .jide-textfield,
.jide-choicebox > .jide-button,
.jide-comboboxbase > .jide-button {
  height: 100%;
}
.jide-popup.jide-choicebox-popup > .jide-listview,
.jide-popup.jide-combobox-popup > .jide-listview {
  width: 100%;
}
.jide-popup.jide-choicebox-popup > .jide-listview > li > .jide-cell,
.jide-popup.jide-combobox-popup > .jide-listview > li > .jide-cell {
  display: block;
}
.jide-listview {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.jide-listview > li {
  margin: 0;
  padding: 0;
}
.jide-listview > li > .jide-cell {
  width: 100%;
}
.jide-listview > li > .jide-cell:hover {
  cursor: pointer;
}
.jide-listview.jide-orientation-horizontal {
  display: inline-table;
}
.jide-listview.jide-orientation-horizontal > li {
  display: table-cell;
}
.jide-component {
  font-size: 14px;
  line-height: 1.231;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  margin: 0;
}
.jide-component:focus {
  outline: none;
}
.jide-component.jide-state-disabled,
.jide-component[disabled] {
  background: #bdc3c7 !important;
  color: rgba(255, 255, 255, 0.75) !important;
  opacity: .7;
}
.jide-component.primary {
  background: #1abc9c;
}
.jide-component.info {
  background: #3498db;
}
.jide-component.danger {
  background: #e74c3c;
}
.jide-component.success {
  background: #2ecc71;
}
.jide-component.warning {
  background: #f1c40f;
}
.jide-component.inverse {
  background: #34495e;
  color: #ffffff;
}
.jide-component.default {
  background: #bdc3c7;
}
.jide-labeled {
  padding: 5px 10px;
}
.jide-buttonbase,
.jide-choicebox,
.jide-comboboxbase {
  text-decoration: none;
}
.jide-buttonbase.primary,
.jide-choicebox.primary,
.jide-comboboxbase.primary,
.jide-comboboxbase.primary .jide-buttonbase,
.jide-comboboxbase.primary .jide-choicebox,
.jide-comboboxbase.primary .jide-comboboxbase {
  background: #1abc9c;
  color: #ffffff;
}
.jide-buttonbase.primary:hover,
.jide-choicebox.primary:hover,
.jide-comboboxbase.primary:hover,
.jide-comboboxbase.primary .jide-buttonbase:hover,
.jide-comboboxbase.primary .jide-choicebox:hover,
.jide-comboboxbase.primary .jide-comboboxbase:hover,
.jide-buttonbase.primary:focus,
.jide-choicebox.primary:focus,
.jide-comboboxbase.primary:focus,
.jide-comboboxbase.primary .jide-buttonbase:focus,
.jide-comboboxbase.primary .jide-choicebox:focus,
.jide-comboboxbase.primary .jide-comboboxbase:focus {
  background: #48c9b0;
  color: rgba(255, 255, 255, 0.75);
}
.jide-buttonbase.primary:active,
.jide-choicebox.primary:active,
.jide-comboboxbase.primary:active,
.jide-comboboxbase.primary .jide-buttonbase:active,
.jide-comboboxbase.primary .jide-choicebox:active,
.jide-comboboxbase.primary .jide-comboboxbase:active,
.jide-buttonbase.primary.armed,
.jide-choicebox.primary.armed,
.jide-comboboxbase.primary.armed,
.jide-comboboxbase.primary .jide-buttonbase.armed,
.jide-comboboxbase.primary .jide-choicebox.armed,
.jide-comboboxbase.primary .jide-comboboxbase.armed {
  background: #16a085;
}
.jide-buttonbase.info,
.jide-choicebox.info,
.jide-comboboxbase.info,
.jide-comboboxbase.info .jide-buttonbase,
.jide-comboboxbase.info .jide-choicebox,
.jide-comboboxbase.info .jide-comboboxbase {
  background: #3498db;
  color: #ffffff;
}
.jide-buttonbase.info:hover,
.jide-choicebox.info:hover,
.jide-comboboxbase.info:hover,
.jide-comboboxbase.info .jide-buttonbase:hover,
.jide-comboboxbase.info .jide-choicebox:hover,
.jide-comboboxbase.info .jide-comboboxbase:hover,
.jide-buttonbase.info:focus,
.jide-choicebox.info:focus,
.jide-comboboxbase.info:focus,
.jide-comboboxbase.info .jide-buttonbase:focus,
.jide-comboboxbase.info .jide-choicebox:focus,
.jide-comboboxbase.info .jide-comboboxbase:focus {
  background: #5dade2;
  color: rgba(255, 255, 255, 0.75);
}
.jide-buttonbase.info:active,
.jide-choicebox.info:active,
.jide-comboboxbase.info:active,
.jide-comboboxbase.info .jide-buttonbase:active,
.jide-comboboxbase.info .jide-choicebox:active,
.jide-comboboxbase.info .jide-comboboxbase:active,
.jide-buttonbase.info.armed,
.jide-choicebox.info.armed,
.jide-comboboxbase.info.armed,
.jide-comboboxbase.info .jide-buttonbase.armed,
.jide-comboboxbase.info .jide-choicebox.armed,
.jide-comboboxbase.info .jide-comboboxbase.armed {
  background: #2c81ba;
}
.jide-buttonbase.danger,
.jide-choicebox.danger,
.jide-comboboxbase.danger,
.jide-comboboxbase.danger .jide-buttonbase,
.jide-comboboxbase.danger .jide-choicebox,
.jide-comboboxbase.danger .jide-comboboxbase {
  background: #e74c3c;
  color: #ffffff;
}
.jide-buttonbase.danger:hover,
.jide-choicebox.danger:hover,
.jide-comboboxbase.danger:hover,
.jide-comboboxbase.danger .jide-buttonbase:hover,
.jide-comboboxbase.danger .jide-choicebox:hover,
.jide-comboboxbase.danger .jide-comboboxbase:hover,
.jide-buttonbase.danger:focus,
.jide-choicebox.danger:focus,
.jide-comboboxbase.danger:focus,
.jide-comboboxbase.danger .jide-buttonbase:focus,
.jide-comboboxbase.danger .jide-choicebox:focus,
.jide-comboboxbase.danger .jide-comboboxbase:focus {
  background: #ec7063;
  color: rgba(255, 255, 255, 0.75);
}
.jide-buttonbase.danger:active,
.jide-choicebox.danger:active,
.jide-comboboxbase.danger:active,
.jide-comboboxbase.danger .jide-buttonbase:active,
.jide-comboboxbase.danger .jide-choicebox:active,
.jide-comboboxbase.danger .jide-comboboxbase:active,
.jide-buttonbase.danger.armed,
.jide-choicebox.danger.armed,
.jide-comboboxbase.danger.armed,
.jide-comboboxbase.danger .jide-buttonbase.armed,
.jide-comboboxbase.danger .jide-choicebox.armed,
.jide-comboboxbase.danger .jide-comboboxbase.armed {
  background: #c44133;
}
.jide-buttonbase.success,
.jide-choicebox.success,
.jide-comboboxbase.success,
.jide-comboboxbase.success .jide-buttonbase,
.jide-comboboxbase.success .jide-choicebox,
.jide-comboboxbase.success .jide-comboboxbase {
  background: #2ecc71;
  color: #ffffff;
}
.jide-buttonbase.success:hover,
.jide-choicebox.success:hover,
.jide-comboboxbase.success:hover,
.jide-comboboxbase.success .jide-buttonbase:hover,
.jide-comboboxbase.success .jide-choicebox:hover,
.jide-comboboxbase.success .jide-comboboxbase:hover,
.jide-buttonbase.success:focus,
.jide-choicebox.success:focus,
.jide-comboboxbase.success:focus,
.jide-comboboxbase.success .jide-buttonbase:focus,
.jide-comboboxbase.success .jide-choicebox:focus,
.jide-comboboxbase.success .jide-comboboxbase:focus {
  background: #58d68d;
  color: rgba(255, 255, 255, 0.75);
}
.jide-buttonbase.success:active,
.jide-choicebox.success:active,
.jide-comboboxbase.success:active,
.jide-comboboxbase.success .jide-buttonbase:active,
.jide-comboboxbase.success .jide-choicebox:active,
.jide-comboboxbase.success .jide-comboboxbase:active,
.jide-buttonbase.success.armed,
.jide-choicebox.success.armed,
.jide-comboboxbase.success.armed,
.jide-comboboxbase.success .jide-buttonbase.armed,
.jide-comboboxbase.success .jide-choicebox.armed,
.jide-comboboxbase.success .jide-comboboxbase.armed {
  background: #27ad60;
}
.jide-buttonbase.warning,
.jide-choicebox.warning,
.jide-comboboxbase.warning,
.jide-comboboxbase.warning .jide-buttonbase,
.jide-comboboxbase.warning .jide-choicebox,
.jide-comboboxbase.warning .jide-comboboxbase {
  background: #f1c40f;
  color: #ffffff;
}
.jide-buttonbase.warning:hover,
.jide-choicebox.warning:hover,
.jide-comboboxbase.warning:hover,
.jide-comboboxbase.warning .jide-buttonbase:hover,
.jide-comboboxbase.warning .jide-choicebox:hover,
.jide-comboboxbase.warning .jide-comboboxbase:hover,
.jide-buttonbase.warning:focus,
.jide-choicebox.warning:focus,
.jide-comboboxbase.warning:focus,
.jide-comboboxbase.warning .jide-buttonbase:focus,
.jide-comboboxbase.warning .jide-choicebox:focus,
.jide-comboboxbase.warning .jide-comboboxbase:focus {
  background: #f5d313;
  color: rgba(255, 255, 255, 0.75);
}
.jide-buttonbase.warning:active,
.jide-choicebox.warning:active,
.jide-comboboxbase.warning:active,
.jide-comboboxbase.warning .jide-buttonbase:active,
.jide-comboboxbase.warning .jide-choicebox:active,
.jide-comboboxbase.warning .jide-comboboxbase:active,
.jide-buttonbase.warning.armed,
.jide-choicebox.warning.armed,
.jide-comboboxbase.warning.armed,
.jide-comboboxbase.warning .jide-buttonbase.armed,
.jide-comboboxbase.warning .jide-choicebox.armed,
.jide-comboboxbase.warning .jide-comboboxbase.armed {
  background: #cda70d;
}
.jide-buttonbase.inverse,
.jide-choicebox.inverse,
.jide-comboboxbase.inverse,
.jide-comboboxbase.inverse .jide-buttonbase,
.jide-comboboxbase.inverse .jide-choicebox,
.jide-comboboxbase.inverse .jide-comboboxbase {
  background: #34495e;
  color: #ffffff;
}
.jide-buttonbase.inverse:hover,
.jide-choicebox.inverse:hover,
.jide-comboboxbase.inverse:hover,
.jide-comboboxbase.inverse .jide-buttonbase:hover,
.jide-comboboxbase.inverse .jide-choicebox:hover,
.jide-comboboxbase.inverse .jide-comboboxbase:hover,
.jide-buttonbase.inverse:focus,
.jide-choicebox.inverse:focus,
.jide-comboboxbase.inverse:focus,
.jide-comboboxbase.inverse .jide-buttonbase:focus,
.jide-comboboxbase.inverse .jide-choicebox:focus,
.jide-comboboxbase.inverse .jide-comboboxbase:focus {
  background: #415b76;
  color: rgba(255, 255, 255, 0.75);
}
.jide-buttonbase.inverse:active,
.jide-choicebox.inverse:active,
.jide-comboboxbase.inverse:active,
.jide-comboboxbase.inverse .jide-buttonbase:active,
.jide-comboboxbase.inverse .jide-choicebox:active,
.jide-comboboxbase.inverse .jide-comboboxbase:active,
.jide-buttonbase.inverse.armed,
.jide-choicebox.inverse.armed,
.jide-comboboxbase.inverse.armed,
.jide-comboboxbase.inverse .jide-buttonbase.armed,
.jide-comboboxbase.inverse .jide-choicebox.armed,
.jide-comboboxbase.inverse .jide-comboboxbase.armed {
  background: #2c3e50;
}
.jide-button,
.jide-togglebutton,
.jide-choicebox,
.jide-comboboxbase {
  background: #bdc3c7;
  color: #34495e;
  -webkit-transition: 0.25s linear;
  -moz-transition: 0.25s linear;
  -o-transition: 0.25s linear;
  transition: 0.25s linear;
  -webkit-backface-visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 0 solid transparent;
}
.jide-button:hover,
.jide-togglebutton:hover,
.jide-choicebox:hover,
.jide-comboboxbase:hover,
.jide-button:focus,
.jide-togglebutton:focus,
.jide-choicebox:focus,
.jide-comboboxbase:focus {
  background: #cacfd2;
  color: rgba(52, 73, 94, 0.75);
}
.jide-button:active,
.jide-togglebutton:active,
.jide-choicebox:active,
.jide-comboboxbase:active,
.jide-button.armed,
.jide-togglebutton.armed,
.jide-choicebox.armed,
.jide-comboboxbase.armed {
  background: #a1a6a9;
}
.jide-button.jide-state-selected,
.jide-togglebutton.jide-state-selected,
.jide-choicebox.jide-state-selected,
.jide-comboboxbase.jide-state-selected {
  background: #1abc9c;
  color: #ffffff;
}
.jide-button.jide-state-selected:hover,
.jide-togglebutton.jide-state-selected:hover,
.jide-choicebox.jide-state-selected:hover,
.jide-comboboxbase.jide-state-selected:hover,
.jide-button.jide-state-selected:focus,
.jide-togglebutton.jide-state-selected:focus,
.jide-choicebox.jide-state-selected:focus,
.jide-comboboxbase.jide-state-selected:focus {
  background: #48c9b0;
  color: rgba(255, 255, 255, 0.75);
}
.jide-button.jide-state-selected:active,
.jide-togglebutton.jide-state-selected:active,
.jide-choicebox.jide-state-selected:active,
.jide-comboboxbase.jide-state-selected:active,
.jide-button.jide-state-selected.armed,
.jide-togglebutton.jide-state-selected.armed,
.jide-choicebox.jide-state-selected.armed,
.jide-comboboxbase.jide-state-selected.armed {
  background: #16a085;
}
.jide-checkbox > .jide-labeled-graphic > svg {
  background: #bdc3c7;
  color: #34495e;
  padding: 0;
  -webkit-transition: 0.25s linear;
  -moz-transition: 0.25s linear;
  -o-transition: 0.25s linear;
  transition: 0.25s linear;
  -webkit-backface-visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 15px;
  height: 15px;
}
.jide-checkbox > .jide-labeled-graphic > svg:hover,
.jide-checkbox > .jide-labeled-graphic > svg:focus {
  background: #cacfd2;
  color: rgba(52, 73, 94, 0.75);
}
.jide-checkbox > .jide-labeled-graphic > svg:active,
.jide-checkbox > .jide-labeled-graphic > svg.armed {
  background: #a1a6a9;
}
.jide-checkbox-check,
.jide-checkbox-indeterminate {
  stroke: #ffffff;
  fill: transparent;
  stroke-width: 15px;
}
.jide-radiobutton-radio {
  stroke: #ffffff;
  stroke-width: 10px;
  fill: #bdc3c7;
}
.jide-radiobutton-mark {
  fill: #ffffff;
}
.jide-hyperlink {
  color: #16a085;
}
.jide-hyperlink > .jide-labeled-text {
  border-bottom: 1px solid #16a085;
}
.jide-hyperlink:hover {
  color: #1abc9c;
}
.jide-accordion {
  border: 1px solid #1abc9c;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.jide-accordion > div > .jide-titledpane,
.jide-accordion > .jide-titledpane {
  border: 1px solid #1abc9c;
  border-width: 0px 0px 1px 0px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.jide-accordion > div > .jide-titledpane:last-child,
.jide-accordion > .jide-titledpane:last-child {
  border-bottom-width: 0;
}
.jide-titledpane {
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
.jide-titledpane > .jide-titledpane-title {
  background: #bdc3c7;
  color: #34495e;
  -webkit-transition: 0.25s linear;
  -moz-transition: 0.25s linear;
  -o-transition: 0.25s linear;
  transition: 0.25s linear;
  -webkit-backface-visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  border: 0 solid transparent;
}
.jide-titledpane > .jide-titledpane-title:hover,
.jide-titledpane > .jide-titledpane-title:focus {
  background: #cacfd2;
  color: rgba(52, 73, 94, 0.75);
}
.jide-titledpane > .jide-titledpane-title:active,
.jide-titledpane > .jide-titledpane-title.armed {
  background: #a1a6a9;
}
.jide-titledpane > .jide-titledpane-content {
  background: #ffffff;
  color: #34495e;
}
.jide-titledpane.primary > .jide-titledpane-title {
  background: #1abc9c;
  color: #ffffff;
}
.jide-titledpane.primary > .jide-titledpane-title:hover,
.jide-titledpane.primary > .jide-titledpane-title:focus {
  background: #48c9b0;
  color: rgba(255, 255, 255, 0.75);
}
.jide-titledpane.primary > .jide-titledpane-title:active,
.jide-titledpane.primary > .jide-titledpane-title.armed {
  background: #16a085;
}
.jide-titledpane.info > .jide-titledpane-title {
  background: #3498db;
  color: #ffffff;
}
.jide-titledpane.info > .jide-titledpane-title:hover,
.jide-titledpane.info > .jide-titledpane-title:focus {
  background: #5dade2;
  color: rgba(255, 255, 255, 0.75);
}
.jide-titledpane.info > .jide-titledpane-title:active,
.jide-titledpane.info > .jide-titledpane-title.armed {
  background: #2c81ba;
}
.jide-titledpane.danger > .jide-titledpane-title {
  background: #e74c3c;
  color: #ffffff;
}
.jide-titledpane.danger > .jide-titledpane-title:hover,
.jide-titledpane.danger > .jide-titledpane-title:focus {
  background: #ec7063;
  color: rgba(255, 255, 255, 0.75);
}
.jide-titledpane.danger > .jide-titledpane-title:active,
.jide-titledpane.danger > .jide-titledpane-title.armed {
  background: #c44133;
}
.jide-titledpane.success > .jide-titledpane-title {
  background: #2ecc71;
  color: #ffffff;
}
.jide-titledpane.success > .jide-titledpane-title:hover,
.jide-titledpane.success > .jide-titledpane-title:focus {
  background: #58d68d;
  color: rgba(255, 255, 255, 0.75);
}
.jide-titledpane.success > .jide-titledpane-title:active,
.jide-titledpane.success > .jide-titledpane-title.armed {
  background: #27ad60;
}
.jide-titledpane.warning > .jide-titledpane-title {
  background: #f1c40f;
  color: #ffffff;
}
.jide-titledpane.warning > .jide-titledpane-title:hover,
.jide-titledpane.warning > .jide-titledpane-title:focus {
  background: #f5d313;
  color: rgba(255, 255, 255, 0.75);
}
.jide-titledpane.warning > .jide-titledpane-title:active,
.jide-titledpane.warning > .jide-titledpane-title.armed {
  background: #cda70d;
}
.jide-titledpane.inverse > .jide-titledpane-title {
  background: #34495e;
  color: #ffffff;
}
.jide-titledpane.inverse > .jide-titledpane-title:hover,
.jide-titledpane.inverse > .jide-titledpane-title:focus {
  background: #415b76;
  color: rgba(255, 255, 255, 0.75);
}
.jide-titledpane.inverse > .jide-titledpane-title:active,
.jide-titledpane.inverse > .jide-titledpane-title.armed {
  background: #2c3e50;
}
.jide-popup {
  padding: 5px;
  background: #1abc9c;
  color: #ffffff;
  border: 1px solid #2ecc71;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  z-index: 10000;
}
.jide-menu {
  padding: 10px 20px;
}
.jide-menuitem,
.jide-checkboxmenuitem,
.jide-radiobuttonmenuitem,
.jide-menu {
  padding: 10px 20px;
  background: #34495e;
  color: #ffffff;
}
.jide-menuitem:hover,
.jide-checkboxmenuitem:hover,
.jide-radiobuttonmenuitem:hover,
.jide-menu:hover,
.jide-menuitem:focus,
.jide-checkboxmenuitem:focus,
.jide-radiobuttonmenuitem:focus,
.jide-menu:focus {
  background: #415b76;
  color: rgba(255, 255, 255, 0.75);
}
.jide-menuitem:active,
.jide-checkboxmenuitem:active,
.jide-radiobuttonmenuitem:active,
.jide-menu:active,
.jide-menuitem.armed,
.jide-checkboxmenuitem.armed,
.jide-radiobuttonmenuitem.armed,
.jide-menu.armed {
  background: #2c3e50;
}
.jide-contextmenu {
  padding: 0;
}
.jide-contextmenu .jide-menu > .jide-labeled-text:after {
  content: "\25B6";
  float: right;
}
.jide-separator {
  background: #1abc9c;
}
.jide-separator.jide-orientation-vertical {
  -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.6);
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.6);
}
.jide-separator.jide-orientation-horizontal {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}
.jide-separator.is-spacer {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;
}
.jide-menubar,
.jide-toolbar {
  background: #34495e;
  padding: 5px 10px;
}
.jide-menubar > .jide-labeled,
.jide-toolbar > .jide-labeled {
  color: #ffffff;
}
.jide-menubar .jide-button,
.jide-toolbar .jide-button,
.jide-menubar .jide-togglebutton,
.jide-toolbar .jide-togglebutton {
  background: #34495e;
  color: #ffffff;
  background: transparent;
}
.jide-menubar .jide-button:hover,
.jide-toolbar .jide-button:hover,
.jide-menubar .jide-togglebutton:hover,
.jide-toolbar .jide-togglebutton:hover,
.jide-menubar .jide-button:focus,
.jide-toolbar .jide-button:focus,
.jide-menubar .jide-togglebutton:focus,
.jide-toolbar .jide-togglebutton:focus {
  background: #415b76;
  color: rgba(255, 255, 255, 0.75);
}
.jide-menubar .jide-button:active,
.jide-toolbar .jide-button:active,
.jide-menubar .jide-togglebutton:active,
.jide-toolbar .jide-togglebutton:active,
.jide-menubar .jide-button.armed,
.jide-toolbar .jide-button.armed,
.jide-menubar .jide-togglebutton.armed,
.jide-toolbar .jide-togglebutton.armed {
  background: #2c3e50;
}
.jide-menubar .jide-button.primary,
.jide-toolbar .jide-button.primary,
.jide-menubar .jide-togglebutton.primary,
.jide-toolbar .jide-togglebutton.primary {
  background: #1abc9c;
  color: #ffffff;
  background: transparent;
}
.jide-menubar .jide-button.primary:hover,
.jide-toolbar .jide-button.primary:hover,
.jide-menubar .jide-togglebutton.primary:hover,
.jide-toolbar .jide-togglebutton.primary:hover,
.jide-menubar .jide-button.primary:focus,
.jide-toolbar .jide-button.primary:focus,
.jide-menubar .jide-togglebutton.primary:focus,
.jide-toolbar .jide-togglebutton.primary:focus {
  background: #48c9b0;
  color: rgba(255, 255, 255, 0.75);
}
.jide-menubar .jide-button.primary:active,
.jide-toolbar .jide-button.primary:active,
.jide-menubar .jide-togglebutton.primary:active,
.jide-toolbar .jide-togglebutton.primary:active,
.jide-menubar .jide-button.primary.armed,
.jide-toolbar .jide-button.primary.armed,
.jide-menubar .jide-togglebutton.primary.armed,
.jide-toolbar .jide-togglebutton.primary.armed {
  background: #16a085;
}
.jide-menubar .jide-button.info,
.jide-toolbar .jide-button.info,
.jide-menubar .jide-togglebutton.info,
.jide-toolbar .jide-togglebutton.info {
  background: #3498db;
  color: #ffffff;
  background: transparent;
}
.jide-menubar .jide-button.info:hover,
.jide-toolbar .jide-button.info:hover,
.jide-menubar .jide-togglebutton.info:hover,
.jide-toolbar .jide-togglebutton.info:hover,
.jide-menubar .jide-button.info:focus,
.jide-toolbar .jide-button.info:focus,
.jide-menubar .jide-togglebutton.info:focus,
.jide-toolbar .jide-togglebutton.info:focus {
  background: #5dade2;
  color: rgba(255, 255, 255, 0.75);
}
.jide-menubar .jide-button.info:active,
.jide-toolbar .jide-button.info:active,
.jide-menubar .jide-togglebutton.info:active,
.jide-toolbar .jide-togglebutton.info:active,
.jide-menubar .jide-button.info.armed,
.jide-toolbar .jide-button.info.armed,
.jide-menubar .jide-togglebutton.info.armed,
.jide-toolbar .jide-togglebutton.info.armed {
  background: #2c81ba;
}
.jide-menubar .jide-button.danger,
.jide-toolbar .jide-button.danger,
.jide-menubar .jide-togglebutton.danger,
.jide-toolbar .jide-togglebutton.danger {
  background: #e74c3c;
  color: #ffffff;
  background: transparent;
}
.jide-menubar .jide-button.danger:hover,
.jide-toolbar .jide-button.danger:hover,
.jide-menubar .jide-togglebutton.danger:hover,
.jide-toolbar .jide-togglebutton.danger:hover,
.jide-menubar .jide-button.danger:focus,
.jide-toolbar .jide-button.danger:focus,
.jide-menubar .jide-togglebutton.danger:focus,
.jide-toolbar .jide-togglebutton.danger:focus {
  background: #ec7063;
  color: rgba(255, 255, 255, 0.75);
}
.jide-menubar .jide-button.danger:active,
.jide-toolbar .jide-button.danger:active,
.jide-menubar .jide-togglebutton.danger:active,
.jide-toolbar .jide-togglebutton.danger:active,
.jide-menubar .jide-button.danger.armed,
.jide-toolbar .jide-button.danger.armed,
.jide-menubar .jide-togglebutton.danger.armed,
.jide-toolbar .jide-togglebutton.danger.armed {
  background: #c44133;
}
.jide-menubar .jide-button.success,
.jide-toolbar .jide-button.success,
.jide-menubar .jide-togglebutton.success,
.jide-toolbar .jide-togglebutton.success {
  background: #2ecc71;
  color: #ffffff;
  background: transparent;
}
.jide-menubar .jide-button.success:hover,
.jide-toolbar .jide-button.success:hover,
.jide-menubar .jide-togglebutton.success:hover,
.jide-toolbar .jide-togglebutton.success:hover,
.jide-menubar .jide-button.success:focus,
.jide-toolbar .jide-button.success:focus,
.jide-menubar .jide-togglebutton.success:focus,
.jide-toolbar .jide-togglebutton.success:focus {
  background: #58d68d;
  color: rgba(255, 255, 255, 0.75);
}
.jide-menubar .jide-button.success:active,
.jide-toolbar .jide-button.success:active,
.jide-menubar .jide-togglebutton.success:active,
.jide-toolbar .jide-togglebutton.success:active,
.jide-menubar .jide-button.success.armed,
.jide-toolbar .jide-button.success.armed,
.jide-menubar .jide-togglebutton.success.armed,
.jide-toolbar .jide-togglebutton.success.armed {
  background: #27ad60;
}
.jide-menubar .jide-button.warning,
.jide-toolbar .jide-button.warning,
.jide-menubar .jide-togglebutton.warning,
.jide-toolbar .jide-togglebutton.warning {
  background: #f1c40f;
  color: #ffffff;
  background: transparent;
}
.jide-menubar .jide-button.warning:hover,
.jide-toolbar .jide-button.warning:hover,
.jide-menubar .jide-togglebutton.warning:hover,
.jide-toolbar .jide-togglebutton.warning:hover,
.jide-menubar .jide-button.warning:focus,
.jide-toolbar .jide-button.warning:focus,
.jide-menubar .jide-togglebutton.warning:focus,
.jide-toolbar .jide-togglebutton.warning:focus {
  background: #f5d313;
  color: rgba(255, 255, 255, 0.75);
}
.jide-menubar .jide-button.warning:active,
.jide-toolbar .jide-button.warning:active,
.jide-menubar .jide-togglebutton.warning:active,
.jide-toolbar .jide-togglebutton.warning:active,
.jide-menubar .jide-button.warning.armed,
.jide-toolbar .jide-button.warning.armed,
.jide-menubar .jide-togglebutton.warning.armed,
.jide-toolbar .jide-togglebutton.warning.armed {
  background: #cda70d;
}
.jide-menubar .jide-button.inverse,
.jide-toolbar .jide-button.inverse,
.jide-menubar .jide-togglebutton.inverse,
.jide-toolbar .jide-togglebutton.inverse {
  background: #34495e;
  color: #ffffff;
  background: transparent;
}
.jide-menubar .jide-button.inverse:hover,
.jide-toolbar .jide-button.inverse:hover,
.jide-menubar .jide-togglebutton.inverse:hover,
.jide-toolbar .jide-togglebutton.inverse:hover,
.jide-menubar .jide-button.inverse:focus,
.jide-toolbar .jide-button.inverse:focus,
.jide-menubar .jide-togglebutton.inverse:focus,
.jide-toolbar .jide-togglebutton.inverse:focus {
  background: #415b76;
  color: rgba(255, 255, 255, 0.75);
}
.jide-menubar .jide-button.inverse:active,
.jide-toolbar .jide-button.inverse:active,
.jide-menubar .jide-togglebutton.inverse:active,
.jide-toolbar .jide-togglebutton.inverse:active,
.jide-menubar .jide-button.inverse.armed,
.jide-toolbar .jide-button.inverse.armed,
.jide-menubar .jide-togglebutton.inverse.armed,
.jide-toolbar .jide-togglebutton.inverse.armed {
  background: #2c3e50;
}
.jide-textinput {
  padding: 10px 20px;
  background: #ffffff;
  border: 1px solid #bdc3c7;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.jide-textinput:-moz-placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.jide-textinput::-moz-placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.jide-textinput:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.jide-textinput::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.jide-textinput.jide-placeholding {
  color: rgba(255, 255, 255, 0.75);
}
.jide-textinput:hover,
.jide-textinput:focus {
  outline: 0;
  border-color: #48c9b0;
}
.jide-textinput:active,
.jide-textinput.armed {
  border-color: #1abc9c;
}
.jide-textinput.jide-state-disabled,
.jide-textinput [disabled] {
  background: #f4f6f6;
}
.jide-progressbar {
  width: 10em;
  background: #bdc3c7;
  background-repeat: repeat-x;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.jide-progressbar > .jide-progress-bar {
  padding: 5px 10px;
  line-height: 1.231;
  font-size: 14px;
  background: #34495e;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.jide-progressbar.jide-progressbar-indeterminate > .jide-progress-bar {
  background-color: #34495e;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, #2c3e50), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, #2c3e50), color-stop(0.75, #2c3e50), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, #2c3e50 25%, transparent 25%, transparent 50%, #2c3e50 50%, #2c3e50 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, #2c3e50 25%, transparent 25%, transparent 50%, #2c3e50 50%, #2c3e50 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, #2c3e50 25%, transparent 25%, transparent 50%, #2c3e50 50%, #2c3e50 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, #2c3e50 25%, transparent 25%, transparent 50%, #2c3e50 50%, #2c3e50 75%, transparent 75%, transparent);
  background-repeat: repeat-x;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-ms-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.jide-choicebox,
.jide-comboboxbase {
  padding: 5px 10px;
}
.jide-comboboxbase {
  padding: 0;
}
.jide-comboboxbase > .jide-textfield {
  padding: 5px 10px;
  border: 0 none;
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  color: #ffffff;
}
.jide-comboboxbase > .jide-button {
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
}
.jide-popup.jide-choicebox-popup,
.jide-popup.jide-combobox-popup {
  padding: 0;
  background: #34495e;
  border-color: #2c3e50;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.jide-popup.jide-choicebox-popup > .jide-listview > li > .jide-cell,
.jide-popup.jide-combobox-popup > .jide-listview > li > .jide-cell {
  background: #34495e;
  color: #ffffff;
}
.jide-popup.jide-choicebox-popup > .jide-listview > li > .jide-cell:hover,
.jide-popup.jide-combobox-popup > .jide-listview > li > .jide-cell:hover,
.jide-popup.jide-choicebox-popup > .jide-listview > li > .jide-cell:focus,
.jide-popup.jide-combobox-popup > .jide-listview > li > .jide-cell:focus {
  background: #415b76;
  color: rgba(255, 255, 255, 0.75);
}
.jide-popup.jide-choicebox-popup > .jide-listview > li > .jide-cell:active,
.jide-popup.jide-combobox-popup > .jide-listview > li > .jide-cell:active,
.jide-popup.jide-choicebox-popup > .jide-listview > li > .jide-cell.armed,
.jide-popup.jide-combobox-popup > .jide-listview > li > .jide-cell.armed {
  background: #bdc3c7;
}
.jide-popup.jide-choicebox-popup > .jide-listview > li > .jide-cell.jide-state-selected,
.jide-popup.jide-combobox-popup > .jide-listview > li > .jide-cell.jide-state-selected {
  background: #bdc3c7;
  color: #34495e;
}
.jide-popup.jide-choicebox-popup > .jide-listview.is-striped > li:nth-child(odd) > .jide-cell,
.jide-popup.jide-combobox-popup > .jide-listview.is-striped > li:nth-child(odd) > .jide-cell {
  background: #2c3e50;
  color: #ffffff;
}
.jide-popup.jide-choicebox-popup > .jide-listview.is-striped > li:nth-child(odd) > .jide-cell:hover,
.jide-popup.jide-combobox-popup > .jide-listview.is-striped > li:nth-child(odd) > .jide-cell:hover,
.jide-popup.jide-choicebox-popup > .jide-listview.is-striped > li:nth-child(odd) > .jide-cell:focus,
.jide-popup.jide-combobox-popup > .jide-listview.is-striped > li:nth-child(odd) > .jide-cell:focus {
  background: #415b76;
  color: rgba(255, 255, 255, 0.75);
}
.jide-popup.jide-choicebox-popup > .jide-listview.is-striped > li:nth-child(odd) > .jide-cell:active,
.jide-popup.jide-combobox-popup > .jide-listview.is-striped > li:nth-child(odd) > .jide-cell:active,
.jide-popup.jide-choicebox-popup > .jide-listview.is-striped > li:nth-child(odd) > .jide-cell.armed,
.jide-popup.jide-combobox-popup > .jide-listview.is-striped > li:nth-child(odd) > .jide-cell.armed {
  background: #bdc3c7;
}
.jide-popup.jide-choicebox-popup > .jide-listview.is-striped > li:nth-child(odd) > .jide-cell.jide-state-selected,
.jide-popup.jide-combobox-popup > .jide-listview.is-striped > li:nth-child(odd) > .jide-cell.jide-state-selected {
  background: #bdc3c7;
  color: #34495e;
}
.jide-cell {
  padding: 10px 20px;
}
.jide-cell.jide-state-selected {
  background: #3498db;
  color: #ffffff;
}
.jide-cell.jide-state-selected:hover,
.jide-cell.jide-state-selected:focus {
  background: #5dade2;
  color: rgba(255, 255, 255, 0.75);
}
.jide-cell.jide-state-selected:active,
.jide-cell.jide-state-selected.armed {
  background: #2c81ba;
}
.jide-listview {
  padding: 0;
}
.jide-listview > li > .jide-cell {
  background: #ffffff;
  color: #34495e;
}
.jide-listview > li > .jide-cell:hover,
.jide-listview > li > .jide-cell:focus {
  background: #bdc3c7;
  color: rgba(52, 73, 94, 0.75);
}
.jide-listview > li > .jide-cell:active,
.jide-listview > li > .jide-cell.armed {
  background: #3498db;
}
.jide-listview > li > .jide-cell.jide-state-selected {
  background: #3498db;
  color: #ffffff;
}
.jide-listview.is-striped > li:nth-child(odd) > .jide-cell {
  background: #ecf0f1;
  color: #34495e;
}
.jide-listview.is-striped > li:nth-child(odd) > .jide-cell:hover,
.jide-listview.is-striped > li:nth-child(odd) > .jide-cell:focus {
  background: #bdc3c7;
  color: rgba(52, 73, 94, 0.75);
}
.jide-listview.is-striped > li:nth-child(odd) > .jide-cell:active,
.jide-listview.is-striped > li:nth-child(odd) > .jide-cell.armed {
  background: #3498db;
}
.jide-listview.is-striped > li:nth-child(odd) > .jide-cell.jide-state-selected {
  background: #3498db;
  color: #ffffff;
}
.jide-listview.has-border > li > .jide-cell {
  border-bottom: 1px solid #bdc3c7;
}
.jide-listview.has-border > li:last-child > .jide-cell {
  border-bottom-width: 0;
}
.jide-listview.primary > li > .jide-cell {
  background: #1abc9c;
  color: #34495e;
}
.jide-listview.primary > li > .jide-cell:hover,
.jide-listview.primary > li > .jide-cell:focus {
  background: #48c9b0;
  color: rgba(52, 73, 94, 0.75);
}
.jide-listview.primary > li > .jide-cell:active,
.jide-listview.primary > li > .jide-cell.armed {
  background: #2ecc71;
}
.jide-listview.primary > li > .jide-cell.jide-state-selected {
  background: #2ecc71;
  color: #34495e;
}
.jide-listview.primary.is-striped > li:nth-child(odd) > .jide-cell {
  background: #16a085;
  color: #34495e;
}
.jide-listview.primary.is-striped > li:nth-child(odd) > .jide-cell:hover,
.jide-listview.primary.is-striped > li:nth-child(odd) > .jide-cell:focus {
  background: #48c9b0;
  color: rgba(52, 73, 94, 0.75);
}
.jide-listview.primary.is-striped > li:nth-child(odd) > .jide-cell:active,
.jide-listview.primary.is-striped > li:nth-child(odd) > .jide-cell.armed {
  background: #2ecc71;
}
.jide-listview.primary.is-striped > li:nth-child(odd) > .jide-cell.jide-state-selected {
  background: #2ecc71;
  color: #34495e;
}
.jide-listview.info > li > .jide-cell {
  background: #3498db;
  color: #34495e;
}
.jide-listview.info > li > .jide-cell:hover,
.jide-listview.info > li > .jide-cell:focus {
  background: #5dade2;
  color: rgba(52, 73, 94, 0.75);
}
.jide-listview.info > li > .jide-cell:active,
.jide-listview.info > li > .jide-cell.armed {
  background: #8e44ad;
}
.jide-listview.info > li > .jide-cell.jide-state-selected {
  background: #8e44ad;
  color: #34495e;
}
.jide-listview.info.is-striped > li:nth-child(odd) > .jide-cell {
  background: #2980b9;
  color: #34495e;
}
.jide-listview.info.is-striped > li:nth-child(odd) > .jide-cell:hover,
.jide-listview.info.is-striped > li:nth-child(odd) > .jide-cell:focus {
  background: #5dade2;
  color: rgba(52, 73, 94, 0.75);
}
.jide-listview.info.is-striped > li:nth-child(odd) > .jide-cell:active,
.jide-listview.info.is-striped > li:nth-child(odd) > .jide-cell.armed {
  background: #8e44ad;
}
.jide-listview.info.is-striped > li:nth-child(odd) > .jide-cell.jide-state-selected {
  background: #8e44ad;
  color: #34495e;
}
.jide-listview.danger > li > .jide-cell {
  background: #e74c3c;
  color: #34495e;
}
.jide-listview.danger > li > .jide-cell:hover,
.jide-listview.danger > li > .jide-cell:focus {
  background: #ec7063;
  color: rgba(52, 73, 94, 0.75);
}
.jide-listview.danger > li > .jide-cell:active,
.jide-listview.danger > li > .jide-cell.armed {
  background: #f39c12;
}
.jide-listview.danger > li > .jide-cell.jide-state-selected {
  background: #f39c12;
  color: #34495e;
}
.jide-listview.danger.is-striped > li:nth-child(odd) > .jide-cell {
  background: #c0392b;
  color: #34495e;
}
.jide-listview.danger.is-striped > li:nth-child(odd) > .jide-cell:hover,
.jide-listview.danger.is-striped > li:nth-child(odd) > .jide-cell:focus {
  background: #ec7063;
  color: rgba(52, 73, 94, 0.75);
}
.jide-listview.danger.is-striped > li:nth-child(odd) > .jide-cell:active,
.jide-listview.danger.is-striped > li:nth-child(odd) > .jide-cell.armed {
  background: #f39c12;
}
.jide-listview.danger.is-striped > li:nth-child(odd) > .jide-cell.jide-state-selected {
  background: #f39c12;
  color: #34495e;
}
.jide-listview.success > li > .jide-cell {
  background: #2ecc71;
  color: #34495e;
}
.jide-listview.success > li > .jide-cell:hover,
.jide-listview.success > li > .jide-cell:focus {
  background: #58d68d;
  color: rgba(52, 73, 94, 0.75);
}
.jide-listview.success > li > .jide-cell:active,
.jide-listview.success > li > .jide-cell.armed {
  background: #f1c40f;
}
.jide-listview.success > li > .jide-cell.jide-state-selected {
  background: #f1c40f;
  color: #34495e;
}
.jide-listview.success.is-striped > li:nth-child(odd) > .jide-cell {
  background: #27ae60;
  color: #34495e;
}
.jide-listview.success.is-striped > li:nth-child(odd) > .jide-cell:hover,
.jide-listview.success.is-striped > li:nth-child(odd) > .jide-cell:focus {
  background: #58d68d;
  color: rgba(52, 73, 94, 0.75);
}
.jide-listview.success.is-striped > li:nth-child(odd) > .jide-cell:active,
.jide-listview.success.is-striped > li:nth-child(odd) > .jide-cell.armed {
  background: #f1c40f;
}
.jide-listview.success.is-striped > li:nth-child(odd) > .jide-cell.jide-state-selected {
  background: #f1c40f;
  color: #34495e;
}
.jide-listview.warning > li > .jide-cell {
  background: #f1c40f;
  color: #34495e;
}
.jide-listview.warning > li > .jide-cell:hover,
.jide-listview.warning > li > .jide-cell:focus {
  background: #f5d313;
  color: rgba(52, 73, 94, 0.75);
}
.jide-listview.warning > li > .jide-cell:active,
.jide-listview.warning > li > .jide-cell.armed {
  background: #c0392b;
}
.jide-listview.warning > li > .jide-cell.jide-state-selected {
  background: #c0392b;
  color: #34495e;
}
.jide-listview.warning.is-striped > li:nth-child(odd) > .jide-cell {
  background: #f39c12;
  color: #34495e;
}
.jide-listview.warning.is-striped > li:nth-child(odd) > .jide-cell:hover,
.jide-listview.warning.is-striped > li:nth-child(odd) > .jide-cell:focus {
  background: #f5d313;
  color: rgba(52, 73, 94, 0.75);
}
.jide-listview.warning.is-striped > li:nth-child(odd) > .jide-cell:active,
.jide-listview.warning.is-striped > li:nth-child(odd) > .jide-cell.armed {
  background: #c0392b;
}
.jide-listview.warning.is-striped > li:nth-child(odd) > .jide-cell.jide-state-selected {
  background: #c0392b;
  color: #34495e;
}
.jide-listview.inverse > li > .jide-cell {
  background: #34495e;
  color: #ffffff;
}
.jide-listview.inverse > li > .jide-cell:hover,
.jide-listview.inverse > li > .jide-cell:focus {
  background: #415b76;
  color: rgba(255, 255, 255, 0.75);
}
.jide-listview.inverse > li > .jide-cell:active,
.jide-listview.inverse > li > .jide-cell.armed {
  background: #bdc3c7;
}
.jide-listview.inverse > li > .jide-cell.jide-state-selected {
  background: #bdc3c7;
  color: #34495e;
}
.jide-listview.inverse.is-striped > li:nth-child(odd) > .jide-cell {
  background: #2c3e50;
  color: #ffffff;
}
.jide-listview.inverse.is-striped > li:nth-child(odd) > .jide-cell:hover,
.jide-listview.inverse.is-striped > li:nth-child(odd) > .jide-cell:focus {
  background: #415b76;
  color: rgba(255, 255, 255, 0.75);
}
.jide-listview.inverse.is-striped > li:nth-child(odd) > .jide-cell:active,
.jide-listview.inverse.is-striped > li:nth-child(odd) > .jide-cell.armed {
  background: #bdc3c7;
}
.jide-listview.inverse.is-striped > li:nth-child(odd) > .jide-cell.jide-state-selected {
  background: #bdc3c7;
  color: #34495e;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.folders {
  width: 150px;
}
.inbox {
  width: 400px;
}
.folders > header,
.inbox > header,
.details > header {
  height: 60px;
}
.jide-button.transparent {
  background: transparent;
  color: #2c3e50;
}
.jide-button.transparent:hover,
.jide-button.transparent:focus {
  background: transparent;
  color: rgba(44, 62, 80, 0.75);
}
.jide-button.transparent:active,
.jide-button.transparent.armed {
  background: transparent;
}
.jide-button.transparent:hover {
  color: #8e44ad;
}
h1 {
  font-size: 28px;
  color: #34495e;
  line-height: 50px;
  margin: auto 0;
}
.inbox .jide-cell {
  padding-left: 40px;
}
.inbox .jide-cell .email span {
  float: right;
}
.inbox .jide-cell .email h3 {
  width: 300px;
}
.inbox .jide-cell .email h4 {
  width: 280px;
  float: left;
}
.inbox .jide-cell .email h3,
.inbox .jide-cell .email h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  font-weight: normal;
}
.details > div {
  padding: 0 20px;
}
#detail h2 {
  color: #34495e;
}
#detail h3,
#detail h4 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
#detail h3 {
  float: left;
}
#detail h4 {
  clear: both;
}
#detail #time {
  float: right;
}
#detail pre {
  font-size: 14px;
  line-height: 1.231;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}
