.class-description {
  font-style: italic;
  font-size: 130%;
  line-height: 140%;
}

section
{
  display: block;
}

.variation {
  display: none;
}

.optional:after {
  content: "opt";
  font-size: 60%;
  color: #aaa;
  font-style: italic;
  font-weight: lighter;
}

footer {
  font-style: italic;
  font-size: 90%;
}

h5, .container-overview .subsection-title
{
  font-size: 120%;
  font-weight: bold;
  letter-spacing: -0.01em;
}

.important
{
  font-weight: bold;
  color: #950B02;
}

.yes-def {
  text-indent: -1000px;
}

.type-signature {
  color: #ddd;
}

.name, .signature, .CodeMirror pre, .CodeMirror-linenumber, .prettyprint code, code.prettyprint,
code, pre, .params dt {
  font-family: "Source Code Pro", Consolas, "Lucida Console", Monaco, monospace;
}

.name, .signature, .params dt {
  font-weight: bold;
}

.params, .details {
  margin: .5em 0;
}
.details dt { }
.details dd { }
.details ul { }
.details ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.details li { }

dd { margin-left: 40px; }

.description {
}

.code-caption
{
  font-style: italic;
  font-family: Palatino, 'Palatino Linotype', serif;
  font-size: 107%;
  margin: 0;
}

.prettyprint
{
  border: 1px solid #ddd;
  width: 80%;
  overflow: auto;
}

.prettyprint.source {
  width: inherit;
}

.prettyprint code, code.prettyprint
{
  font-size: 13px;
  line-height: 18px;
  display: block;
  margin: 0;
  text-space-collapse: preserve;
}

.params {
  code {
    color: #FFF;
    font-size: 16px;
  }

  dl {
    margin-left: 10px;
  }

  dd {
    margin: 0 0 .2em 1em
  }

  p {
    margin: 0 0 .2em 0;
  }

  .type {
    color: #DDD;

    &:before {
      content: "{";
    }

    &:after {
      content: "}";
    }
  }
}

.members, .events, .methods, .static-methods, .inner-classes {
  & > dl {
    margin-left: 1em;
  }

  dd {
    margin-left: 1em;
  }

  & > dl > dd {
    margin: 0 0 2em 1em;
  }

  h4.name {
    margin: 0;
  }
}

.apidoc {
  h3, h4, h5 {
    margin: 0 0 .5em;
  }

  .nav-list {
    margin-bottom: 1em;
  }
}

.ancestors {
  display: block;
  margin-bottom: 1em;
  font-size: 16px;
  line-height: 1.6;
  list-style: none;

  li:before {
    content: "\21B3";
    color: #fff;
    margin-right: 5px;
  }

  li:first-child:before {
    content: "";
    margin-right: 0;
  }
}

.overview, .apidoc {
  h4 {
    margin-bottom: .5em;
  }

  .nav {
    margin-bottom: 2em;

    li {
      margin: 0;
    }
  }
}