/**
 * The Basic style contains only the layout and functionality required to display
 * a Component. It does not include any styling at all (no padding, no background, no font color, ...).
 *
 * It must be included by every custom design to make sure that all components work as expected.s
 */
.jide-component {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}
.jide-textinput {
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
}
[draggable] {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.jide-state-disabled {
  cursor: default !important;
}
.jide-col-resize {
  cursor: move;
  cursor: e-resize;
  cursor: ew-resize;
  cursor: col-resize;
}
.jide-hbox.jide-use-table {
  display: table;
  padding: 0;
  border-collapse: separate;
}
.jide-hbox.jide-use-table > div {
  display: table-cell;
  vertical-align: top;
}
.jide-hbox.jide-use-table.jide-hbox-fillHeight > div {
  height: 100%;
}
.jide-hbox.jide-use-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-flex-align: start;
  -o-align-items: flex-start;
  align-items: flex-start;
}
.jide-hbox.jide-use-flex.jide-hbox-fillHeight {
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-flex-align: stretch;
  -o-align-items: stretch;
  align-items: stretch;
}
.jide-hbox.jide-use-flex > .jide-hbox-grow {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1 0 auto;
  -o-flex: 1;
  flex: 1;
}
.jide-hbox.jide-use-legacy-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
}
.jide-hbox.jide-use-legacy-flex.jide-hbox-fillHeight {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
}
.jide-hbox.jide-use-legacy-flex > .jide-hbox-grow {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
}
.jide-vbox.jide-use-table {
  display: table;
  padding: 0;
  border-collapse: separate;
}
.jide-vbox.jide-use-table > div {
  display: table-row;
}
.jide-vbox.jide-use-table.jide-hbox-fillWidth > div {
  width: 100%;
}
.jide-vbox.jide-use-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-flex-align: start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.jide-vbox.jide-use-flex.jide-vbox-fillHeight {
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-flex-align: stretch;
  -o-align-items: stretch;
  align-items: stretch;
}
.jide-vbox.jide-use-flex > .jide-vbox-grow {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1 0 auto;
  -o-flex: 1;
  flex: 1;
}
.jide-vbox.jide-use-legacy-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
}
.jide-vbox.jide-use-legacy-flex.jide-vbox-fillHeight {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
}
.jide-vbox.jide-use-legacy-flex > .jide-vbox-grow {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
}
.jide-borderpane.jide-use-table {
  display: table;
  padding: 0;
}
.jide-borderpane.jide-use-table > header,
.jide-borderpane.jide-use-table > footer {
  display: table-row;
}
.jide-borderpane.jide-use-table > header,
.jide-borderpane.jide-use-table > footer,
.jide-borderpane.jide-use-table > header > .jide-component,
.jide-borderpane.jide-use-table > footer > .jide-component {
  width: 100%;
}
.jide-borderpane.jide-use-table > div {
  display: table;
  width: 100%;
}
.jide-borderpane.jide-use-table > div > aside,
.jide-borderpane.jide-use-table > div > div {
  display: table-cell;
}
.jide-borderpane.jide-use-table > div > aside,
.jide-borderpane.jide-use-table > div > div,
.jide-borderpane.jide-use-table > div > aside > .jide-component,
.jide-borderpane.jide-use-table > div > div > .jide-component {
  height: 100%;
}
.jide-borderpane.jide-use-table > div > div,
.jide-borderpane.jide-use-table > div > div > .jide-component {
  width: 100%;
}
.jide-borderpane.jide-use-flex {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.jide-borderpane.jide-use-flex,
.jide-borderpane.jide-use-flex > div.jide-borderpane-centerrow {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
}
.jide-borderpane.jide-use-flex > div.jide-borderpane-centerrow,
.jide-borderpane.jide-use-flex > div > .jide-borderpane-center {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1 0 auto;
  -o-flex: 1;
  flex: 1;
}
.jide-borderpane.jide-use-legacy-flex {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
}
.jide-borderpane.jide-use-legacy-flex > div.jide-borderpane-centerrow {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
}
.jide-borderpane.jide-use-legacy-flex > div.jide-borderpane-centerrow,
.jide-borderpane.jide-use-legacy-flex > div > .jide-borderpane-center {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
}
.jide-borderpane.jide-use-grid {
  display: -ms-grid;
  display: -webkit-grid;
  display: -o-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
  -ms-grid-rows: auto 1fr auto;
  -webkit-grid-columns: auto 1fr auto;
}
.jide-borderpane.jide-use-grid > .jide-borderpane-left,
.jide-borderpane.jide-use-grid > .jide-borderpane-top,
.jide-borderpane.jide-use-grid > .jide-borderpane-bottom {
  -ms-grid-column: 1;
  -webkit-grid-column: 1;
  -o-grid-column: 1;
  grid-column: 1;
}
.jide-borderpane.jide-use-grid > .jide-borderpane-top {
  -ms-grid-row: 1;
  -webkit-gid-row: 1;
  -o-grid-row: 1;
  grid-row: 1;
  -ms-grid-column-span: 3;
  -webkit-grid-column-span: 3;
  -o-grid-column-span: 3;
  grid-column-span: 3;
}
.jide-borderpane.jide-use-grid > .jide-borderpane-bottom {
  -ms-grid-row: 3;
  -webkit-grid-row: 3;
  -o-grid-row: 3;
  grid-row: 3;
  -ms-grid-column-span: 3;
  -webkit-grid-column-span: 3;
  -o-grid-column-span: 3;
  grid-column-span: 3;
}
.jide-borderpane.jide-use-grid > .jide-borderpane-left,
.jide-borderpane.jide-use-grid > .jide-borderpane-center,
.jide-borderpane.jide-use-grid > .jide-borderpane-right {
  -ms-grid-row: 2;
  -webkit-grid-row: 2;
  -o-grid-row: 2;
  grid-row: 2;
}
.jide-borderpane.jide-use-grid > .jide-borderpane-center {
  -ms-grid-column: 2;
  -webkit-grid-column: 2;
  -o-grid-column: 2;
  grid-column: 2;
}
.jide-borderpane.jide-use-grid > .jide-borderpane-right {
  -ms-grid-column: 3;
  -webkit-grid-column: 3;
  -o-grid-column: 3;
  grid-column: 3;
}
.jide-gridpane.jide-use-table {
  border-spacing: 0;
}
.jide-gridpane.jide-use-table > tbody {
  width: 100%;
  height: 100%;
}
.jide-gridpane.jide-use-table > tbody > tr > td {
  padding: 0;
  vertical-align: top;
  text-align: left;
}
.jide-gridpane.jide-use-table > tbody > tr > td > * {
  margin: 0;
}
.jide-gridpane.jide-use-grid {
  display: -ms-grid;
  display: -webkit-grid;
  display: -o-grid;
  display: grid;
}
.jide-anchorpane,
.jide-stackpane {
  position: relative;
}
.jide-anchorpane > .jide-component,
.jide-stackpane > .jide-component {
  position: absolute;
}
.jide-tilepane {
  display: table;
}
.jide-tilepane.jide-orientation-horizontal > div {
  display: table-row;
}
.jide-tilepane.jide-orientation-vertical > div {
  display: table-cell;
}
.jide-tilepane > div > div {
  display: table-row;
}
.jide-labeled-graphic {
  vertical-align: middle;
}
.jide-labeled-content-display-top {
  display: inline-table;
}
.jide-labeled-content-display-top .jide-labeled-graphic,
.jide-labeled-content-display-top .jide-labeled-text {
  display: table-row;
  text-align: center;
}
.jide-labeled-content-display-textOnly .jide-labeled-graphic {
  display: none;
}
.jide-labeled-content-display-graphicOnly .jide-labeled-text {
  display: none;
}
.jide-buttonbase,
.jide-menu {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-block;
  cursor: pointer;
}
.jide-checkbox > .jide-labeled-graphic {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.jide-checkbox .jide-checkbox-check {
  opacity: 0;
}
.jide-checkbox .jide-checkbox-indeterminate {
  opacity: 0;
}
.jide-checkbox.jide-state-selected .jide-checkbox-check {
  opacity: 100;
}
.jide-checkbox.jide-state-indeterminate .jide-checkbox-indeterminate {
  opacity: 100;
}
.jide-radiobutton .jide-radiobutton-mark {
  opacity: 0;
}
.jide-radiobutton.jide-state-selected .jide-radiobutton-mark {
  opacity: 100;
}
.jide-radiobutton > .jide-labeled-graphic {
  margin-right: 5px;
}
.jide-accordion > .jide-vbox > div > .jide-titledpane {
  display: block;
}
.jide-titledpane > .jide-titledpane-title {
  display: block;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}
.jide-titledpane > .jide-titledpane-content {
  display: none;
  overflow: hidden;
}
.jide-titledpane.jide-expanded > .jide-titledpane-content {
  display: block;
}
.jide-titledpane.jide-titledpane-animated > .jide-titledpane-content {
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  -o-transition: height 0.5s linear;
  transition: height 0.5s linear;
}
.jide-popup {
  position: absolute;
  -webkit-animation: show-popup 0.25s ease-in;
  -moz-animation: show-popup 0.25s ease-in;
  -o-animation: show-popup 0.25s ease-in;
  animation: show-popup 0.25s ease-in;
  left: -1000px;
  top: -1000px;
}
@-webkit-keyframes show-popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@-moz-keyframes show-popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes show-popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
.jide-menuitem,
.jide-checkboxmenuitem,
.jide-radiobuttonmenuitem,
.jide-menu {
  display: block;
}
.jide-contextmenu {
  display: inline-table;
  border-collapse: collapse;
}
.jide-contextmenu > div {
  display: table-row;
  width: 100%;
  vertical-align: middle;
  font-size: 0;
}
.jide-separator {
  padding: 0;
}
.jide-separator.jide-orientation-vertical {
  width: 1px;
  height: 100%;
}
.jide-separator.jide-orientation-horizontal {
  width: 100%;
  height: 1px;
}
.jide-separator.jide-separator-spacer {
  background: transparent !important;
}
.jide-menubar > .jide-hbox > div,
.jide-toolbar > .jide-hbox > div {
  vertical-align: middle;
}
.jide-toolbar > div > div {
  margin-right: 5px;
}
.jide-toolbar > div > div:last-child {
  margin-right: 0;
}
.jide-progressbar {
  overflow: hidden;
}
.jide-progressbar > .jide-progress-bar {
  height: 100%;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.jide-progressbar.jide-progressbar-indeterminate > .jide-progress-bar {
  width: 100% !important;
}
.jide-choicebox,
.jide-comboboxbase {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-block;
  cursor: pointer;
}
.jide-choicebox > .jide-choicebox-label,
.jide-comboboxbase > .jide-choicebox-label,
.jide-choicebox .jide-textfield,
.jide-comboboxbase .jide-textfield {
  display: inline-block;
  margin-right: 0.5em;
}
.jide-choicebox > .jide-choicebox-button,
.jide-comboboxbase > .jide-choicebox-button,
.jide-choicebox .jide-button,
.jide-comboboxbase .jide-button {
  display: inline-block;
}
.jide-choicebox > .jide-textfield,
.jide-comboboxbase > .jide-textfield,
.jide-choicebox > .jide-button,
.jide-comboboxbase > .jide-button {
  height: 100%;
}
.jide-popup.jide-choicebox-popup > .jide-listview,
.jide-popup.jide-combobox-popup > .jide-listview {
  width: 100%;
}
.jide-popup.jide-choicebox-popup > .jide-listview > li > .jide-cell,
.jide-popup.jide-combobox-popup > .jide-listview > li > .jide-cell {
  display: block;
}
.jide-listview {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.jide-listview > li {
  margin: 0;
  padding: 0;
}
.jide-listview > li > .jide-cell {
  width: 100%;
}
.jide-listview > li > .jide-cell:hover {
  cursor: pointer;
}
.jide-listview.jide-orientation-horizontal {
  display: inline-table;
}
.jide-listview.jide-orientation-horizontal > li {
  display: table-cell;
}
.jide-component {
  font-size: 12px;
  line-height: 16px;
}
.jide-state-disabled {
  background: #DDD !important;
  color: #555 !important;
}
.jide-buttonbase {
  padding: 5px;
}
.jide-button,
.jide-togglebutton {
  border: 1px solid #172019;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #3b383d;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNiMzgzZCIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjEyMDIzIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b383d), to(#212023));
  background-image: -webkit-linear-gradient(top, #3b383d, #212023);
  background-image: -moz-linear-gradient(top, #3b383d, #212023);
  background-image: -o-linear-gradient(top, #3b383d, #212023);
  background-image: -ms-linear-gradient(top, #3b383d, #212023);
  background-image: linear-gradient(to bottom, #3b383d, #212023);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
}
.jide-button:hover,
.jide-togglebutton:hover {
  background-color: #48444b;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ4NDQ0YiIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMmUyYzMwIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#48444b), to(#2e2c30));
  background-image: -webkit-linear-gradient(top, #48444b, #2e2c30);
  background-image: -moz-linear-gradient(top, #48444b, #2e2c30);
  background-image: -o-linear-gradient(top, #48444b, #2e2c30);
  background-image: -ms-linear-gradient(top, #48444b, #2e2c30);
  background-image: linear-gradient(to bottom, #48444b, #2e2c30);
}
.jide-button:active,
.jide-togglebutton:active,
.jide-button.armed,
.jide-togglebutton.armed {
  background-color: #141415;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE0MTQxNSIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#141415), to(#000000));
  background-image: -webkit-linear-gradient(top, #141415, #000000);
  background-image: -moz-linear-gradient(top, #141415, #000000);
  background-image: -o-linear-gradient(top, #141415, #000000);
  background-image: -ms-linear-gradient(top, #141415, #000000);
  background-image: linear-gradient(to bottom, #141415, #000000);
}
.jide-button:focus,
.jide-togglebutton:focus {
  outline: 1px dashed #2e2c30;
  outline-offset: -4px;
}
.jide-togglebutton.jide-state-selected {
  background-color: #000000;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
  background-image: -webkit-linear-gradient(top, #000000, #000000);
  background-image: -moz-linear-gradient(top, #000000, #000000);
  background-image: -o-linear-gradient(top, #000000, #000000);
  background-image: -ms-linear-gradient(top, #000000, #000000);
  background-image: linear-gradient(to bottom, #000000, #000000);
}
.jide-togglebutton.jide-state-selected:hover {
  background-color: #141415;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE0MTQxNSIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#141415), to(#000000));
  background-image: -webkit-linear-gradient(top, #141415, #000000);
  background-image: -moz-linear-gradient(top, #141415, #000000);
  background-image: -o-linear-gradient(top, #141415, #000000);
  background-image: -ms-linear-gradient(top, #141415, #000000);
  background-image: linear-gradient(to bottom, #141415, #000000);
}
.jide-checkbox,
.jide-radiobutton {
  padding: 0;
}
.jide-checkbox.jide-checkboxmenuitem,
.jide-radiobutton.jide-checkboxmenuitem,
.jide-checkbox.jide-radiobuttonmenuitem,
.jide-radiobutton.jide-radiobuttonmenuitem {
  padding: 5px;
}
.jide-checkbox > .jide-labeled-graphic {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
}
.jide-checkbox > .jide-labeled-graphic > svg {
  border: 1px solid #172019;
  background: #48444b;
}
.jide-checkbox-check,
.jide-checkbox-indeterminate {
  stroke: #172019;
  fill: transparent;
  stroke-width: 20;
}
.jide-radiobutton-radio {
  stroke: #172019;
  stroke-width: 10px;
  fill: #48444b;
}
.jide-radiobutton-mark {
  fill: #172019;
}
.jide-accordion {
  border: 1px solid #172019;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.jide-accordion > div > .jide-titledpane,
.jide-accordion > .jide-titledpane {
  border: 1px solid #172019;
  border-width: 0px 0px 1px 0px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.jide-accordion > div > .jide-titledpane:last-child,
.jide-accordion > .jide-titledpane:last-child {
  border-bottom-width: 0;
}
.jide-titledpane {
  border: 1px solid #172019;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.jide-titledpane > .jide-titledpane-title {
  padding: 5px;
  background-color: #3b383d;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNiMzgzZCIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjEyMDIzIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b383d), to(#212023));
  background-image: -webkit-linear-gradient(top, #3b383d, #212023);
  background-image: -moz-linear-gradient(top, #3b383d, #212023);
  background-image: -o-linear-gradient(top, #3b383d, #212023);
  background-image: -ms-linear-gradient(top, #3b383d, #212023);
  background-image: linear-gradient(to bottom, #3b383d, #212023);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
}
.jide-titledpane > .jide-titledpane-content {
  border-top: 1px solid #172019;
}
.jide-popup {
  border: 1px solid #172019;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 5px;
  background: #eceaef;
  background-color: #ffffff;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZDJjZGQ5IiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d2cdd9));
  background-image: -webkit-linear-gradient(top, #ffffff, #d2cdd9);
  background-image: -moz-linear-gradient(top, #ffffff, #d2cdd9);
  background-image: -o-linear-gradient(top, #ffffff, #d2cdd9);
  background-image: -ms-linear-gradient(top, #ffffff, #d2cdd9);
  background-image: linear-gradient(to bottom, #ffffff, #d2cdd9);
  -webkit-box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.3);
  box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.3);
}
.jide-menu {
  padding: 5px;
}
.jide-menuitem,
.jide-checkboxmenuitem,
.jide-radiobuttonmenuitem,
.jide-menu {
  padding: 5px;
}
.jide-menuitem:hover,
.jide-checkboxmenuitem:hover,
.jide-radiobuttonmenuitem:hover,
.jide-menu:hover,
.jide-menuitem:focus,
.jide-checkboxmenuitem:focus,
.jide-radiobuttonmenuitem:focus,
.jide-menu:focus {
  background-color: #3b383d;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNiMzgzZCIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjEyMDIzIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b383d), to(#212023));
  background-image: -webkit-linear-gradient(top, #3b383d, #212023);
  background-image: -moz-linear-gradient(top, #3b383d, #212023);
  background-image: -o-linear-gradient(top, #3b383d, #212023);
  background-image: -ms-linear-gradient(top, #3b383d, #212023);
  background-image: linear-gradient(to bottom, #3b383d, #212023);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
}
.jide-menuitem:active,
.jide-checkboxmenuitem:active,
.jide-radiobuttonmenuitem:active,
.jide-menu:active,
.jide-menuitem.armed,
.jide-checkboxmenuitem.armed,
.jide-radiobuttonmenuitem.armed,
.jide-menu.armed {
  background-color: #141415;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE0MTQxNSIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#141415), to(#000000));
  background-image: -webkit-linear-gradient(top, #141415, #000000);
  background-image: -moz-linear-gradient(top, #141415, #000000);
  background-image: -o-linear-gradient(top, #141415, #000000);
  background-image: -ms-linear-gradient(top, #141415, #000000);
  background-image: linear-gradient(to bottom, #141415, #000000);
}
.jide-menuitem:focus,
.jide-checkboxmenuitem:focus,
.jide-radiobuttonmenuitem:focus,
.jide-menu:focus {
  outline: 1px dashed #2e2c30;
  outline-offset: -4px;
}
.jide-contextmenu {
  padding: 0;
}
.jide-contextmenu .jide-menu > .jide-labeled-text:after {
  content: "\25B6";
  float: right;
}
.jide-separator {
  background: #172019;
}
.jide-separator.jide-orientation-vertical {
  -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.6);
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.6);
}
.jide-separator.jide-orientation-horizontal {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}
.jide-separator.jide-separator-spacer {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.jide-menubar,
.jide-toolbar {
  background-color: #3b383d;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNiMzgzZCIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjEyMDIzIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b383d), to(#212023));
  background-image: -webkit-linear-gradient(top, #3b383d, #212023);
  background-image: -moz-linear-gradient(top, #3b383d, #212023);
  background-image: -o-linear-gradient(top, #3b383d, #212023);
  background-image: -ms-linear-gradient(top, #3b383d, #212023);
  background-image: linear-gradient(to bottom, #3b383d, #212023);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
}
.jide-toolbar .jide-buttonbase {
  padding: 2px;
}
.jide-toolbar .jide-label {
  padding: 5px;
}
.jide-toolbar .jide-button:not(:active):not(.armed):not(:hover),
.jide-toolbar .jide-togglebutton:not(:active):not(.armed):not(:hover):not(.jide-state-selected) {
  background: none;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0) inset;
  -moz-box-shadow: 0 0 0 rgba(255, 255, 255, 0) inset;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0) inset;
}
.jide-toolbar .jide-button:hover,
.jide-toolbar .jide-togglebutton:hover {
  border: 1px solid #172019;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
}
.jide-placeholding {
  color: #999999;
}
.jide-textinput:-moz-placeholder {
  color: #999999;
}
.jide-textinput:-ms-input-placeholder {
  color: #999999;
}
.jide-textinput::-webkit-input-placeholder {
  color: #999999;
}
.jide-progressbar {
  border: 1px solid #172019;
  height: 2em;
  width: 10em;
  background-color: #f5f5f5;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjlmOWY5IiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.jide-progressbar > .jide-progress-bar {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  background-color: #2e2c30;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, #141415), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, #141415), color-stop(0.75, #141415), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, #141415 25%, transparent 25%, transparent 50%, #141415 50%, #141415 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, #141415 25%, transparent 25%, transparent 50%, #141415 50%, #141415 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, #141415 25%, transparent 25%, transparent 50%, #141415 50%, #141415 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, #141415 25%, transparent 25%, transparent 50%, #141415 50%, #141415 75%, transparent 75%, transparent);
  background-repeat: repeat-x;
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-ms-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.jide-choicebox {
  padding: 5px;
  border: 1px solid #172019;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #3b383d;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNiMzgzZCIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjEyMDIzIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b383d), to(#212023));
  background-image: -webkit-linear-gradient(top, #3b383d, #212023);
  background-image: -moz-linear-gradient(top, #3b383d, #212023);
  background-image: -o-linear-gradient(top, #3b383d, #212023);
  background-image: -ms-linear-gradient(top, #3b383d, #212023);
  background-image: linear-gradient(to bottom, #3b383d, #212023);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
}
.jide-choicebox:hover {
  background-color: #48444b;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ4NDQ0YiIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMmUyYzMwIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#48444b), to(#2e2c30));
  background-image: -webkit-linear-gradient(top, #48444b, #2e2c30);
  background-image: -moz-linear-gradient(top, #48444b, #2e2c30);
  background-image: -o-linear-gradient(top, #48444b, #2e2c30);
  background-image: -ms-linear-gradient(top, #48444b, #2e2c30);
  background-image: linear-gradient(to bottom, #48444b, #2e2c30);
}
.jide-choicebox:active,
.jide-choicebox.armed {
  background-color: #141415;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE0MTQxNSIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#141415), to(#000000));
  background-image: -webkit-linear-gradient(top, #141415, #000000);
  background-image: -moz-linear-gradient(top, #141415, #000000);
  background-image: -o-linear-gradient(top, #141415, #000000);
  background-image: -ms-linear-gradient(top, #141415, #000000);
  background-image: linear-gradient(to bottom, #141415, #000000);
}
.jide-choicebox:focus {
  outline: 1px dashed #2e2c30;
  outline-offset: -4px;
}
.jide-comboboxbase {
  padding: 0;
  border: 1px solid #172019;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #3b383d;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNiMzgzZCIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjEyMDIzIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b383d), to(#212023));
  background-image: -webkit-linear-gradient(top, #3b383d, #212023);
  background-image: -moz-linear-gradient(top, #3b383d, #212023);
  background-image: -o-linear-gradient(top, #3b383d, #212023);
  background-image: -ms-linear-gradient(top, #3b383d, #212023);
  background-image: linear-gradient(to bottom, #3b383d, #212023);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
}
.jide-comboboxbase > .jide-textfield {
  border: 0 none;
  background: inherit;
  padding: 5px 0;
}
.jide-comboboxbase > .jide-button {
  border: 0 none;
  border-left: 1px solid #172019;
}
.jide-comboboxbase.jide-state-editable > .jide-textfield {
  background: #FFF;
}
.jide-popup.jide-choicebox-popup,
.jide-popup.jide-combobox-popup {
  padding: 0;
}
.jide-popup.jide-choicebox-popup > .jide-listview > li > .jide-cell,
.jide-popup.jide-combobox-popup > .jide-listview > li > .jide-cell {
  padding: 5px;
}
.jide-popup.jide-choicebox-popup > .jide-listview > li > .jide-cell:hover,
.jide-popup.jide-combobox-popup > .jide-listview > li > .jide-cell:hover,
.jide-popup.jide-choicebox-popup > .jide-listview > li > .jide-cell:focus,
.jide-popup.jide-combobox-popup > .jide-listview > li > .jide-cell:focus {
  background-color: #3b383d;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNiMzgzZCIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjEyMDIzIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b383d), to(#212023));
  background-image: -webkit-linear-gradient(top, #3b383d, #212023);
  background-image: -moz-linear-gradient(top, #3b383d, #212023);
  background-image: -o-linear-gradient(top, #3b383d, #212023);
  background-image: -ms-linear-gradient(top, #3b383d, #212023);
  background-image: linear-gradient(to bottom, #3b383d, #212023);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
}
.jide-popup.jide-choicebox-popup > .jide-listview > li > .jide-cell:active,
.jide-popup.jide-combobox-popup > .jide-listview > li > .jide-cell:active,
.jide-popup.jide-choicebox-popup > .jide-listview > li > .jide-cell.armed,
.jide-popup.jide-combobox-popup > .jide-listview > li > .jide-cell.armed {
  background-color: #141415;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE0MTQxNSIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#141415), to(#000000));
  background-image: -webkit-linear-gradient(top, #141415, #000000);
  background-image: -moz-linear-gradient(top, #141415, #000000);
  background-image: -o-linear-gradient(top, #141415, #000000);
  background-image: -ms-linear-gradient(top, #141415, #000000);
  background-image: linear-gradient(to bottom, #141415, #000000);
}
.jide-popup.jide-choicebox-popup > .jide-listview > li > .jide-cell:focus,
.jide-popup.jide-combobox-popup > .jide-listview > li > .jide-cell:focus {
  outline: 1px dashed #2e2c30;
  outline-offset: -4px;
}
.jide-listview {
  padding: 0;
}
.jide-listview > li > .jide-cell {
  padding: 5px;
}
.jide-listview > li > .jide-cell:hover {
  background-color: #48444b;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ4NDQ0YiIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMmUyYzMwIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#48444b), to(#2e2c30));
  background-image: -webkit-linear-gradient(top, #48444b, #2e2c30);
  background-image: -moz-linear-gradient(top, #48444b, #2e2c30);
  background-image: -o-linear-gradient(top, #48444b, #2e2c30);
  background-image: -ms-linear-gradient(top, #48444b, #2e2c30);
  background-image: linear-gradient(to bottom, #48444b, #2e2c30);
}
.jide-listview > li > .jide-cell.jide-state-selected {
  background-color: #2e2c30;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJlMmMzMCIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2e2c30), to(#000000));
  background-image: -webkit-linear-gradient(top, #2e2c30, #000000);
  background-image: -moz-linear-gradient(top, #2e2c30, #000000);
  background-image: -o-linear-gradient(top, #2e2c30, #000000);
  background-image: -ms-linear-gradient(top, #2e2c30, #000000);
  background-image: linear-gradient(to bottom, #2e2c30, #000000);
}
.jide-listview > li > .jide-cell.jide-state-selected:hover {
  background-color: #141415;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE0MTQxNSIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#141415), to(#000000));
  background-image: -webkit-linear-gradient(top, #141415, #000000);
  background-image: -moz-linear-gradient(top, #141415, #000000);
  background-image: -o-linear-gradient(top, #141415, #000000);
  background-image: -ms-linear-gradient(top, #141415, #000000);
  background-image: linear-gradient(to bottom, #141415, #000000);
}
html,
body,
#approot {
  margin: 0;
  padding: 0;
  border: 0 none;
  font: 12px Lucida Sans Unicode, Lucida Grande, sans-serif;
  height: 100%;
  width: 100%;
  background: #2E2C30;
  color: #FFF;
}
#approot {
  padding: 10px 0 20px 20px;
}
header {
  color: rgba(255, 255, 255, 0.6);
  margin-left: 8px;
}
h2 {
  color: #2C3E50;
}
.sidebar {
  width: 250px;
}
.jide-button {
  color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.2) inset;
  -moz-box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.2) inset;
  box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.2) inset;
  border: 1px solid #172019;
}
.jide-button:hover {
  color: #FFF;
}
.menu {
  -ms-flex-align: end;
  -moz-align-items: flex-end;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 15px !important;
}
.menu > .jide-button {
  width: 110px;
  margin: 0 5px;
}
.jide-listview {
  margin: 0;
  color: rgba(255, 255, 255, 0.6);
}
.jide-listview:focus {
  outline: none;
  border: none;
}
.jide-listview > li > .jide-cell {
  padding: 5px;
}
.jide-listview > li > .jide-cell:hover {
  background-image: none;
  background: #48444b;
}
.jide-listview > li > .jide-cell.jide-state-selected {
  background-image: none;
  background: #000000;
}
.jide-listview > li > .jide-cell.jide-state-selected:hover {
  background-image: none;
  background: #000000;
}
.contact-info {
  background: #ECEAEF;
  color: #333;
  border-radius: 8px;
  padding: 10px !important;
}
.contact-info > .jide-component {
  margin: 10px 0;
}
.jide-textinput {
  background: transparent;
  border: 0 none;
  border-bottom: 2px solid #2E2C30;
}
.jide-textinput:focus {
  outline: none;
}
