{% extends "layout.html" %}

{% block head %}
<!-- load CodeMirror -->
<link rel="stylesheet" href="/bower_components/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/bower_components/codemirror/theme/vibrant-ink.css">
<link rel="stylesheet" href="/bower_components/codemirror/addon/hint/show-hint.css">
{% endblock %}

{% block container %}
<div class="container-fluid">
    <div class="row-fluid">
        <aside class="span2">
            <ul class="nav nav-list" id="demo_nav">
                <li class="nav-header">Properties and Events</li>
                <li class="active"><a href="#!/events/Observable.html">Observable</a></li>
                <li><a href="#!/events/EventEmitter.html">EventEmitter</a></li>
                <li><a href="#!/events/Subscription.html">Subscription</a></li>
                <li><a href="#!/events/Properties.html">Observable Properties</a></li>
                <li><a href="#!/events/ObservableList.html">ObservableList</a></li>
                <li class="nav-header">Data binding</li>
                <li><a href="#!/binding/Simple.html">Binding observables</a></li>
                <li><a href="#!/binding/TwoWay.html">Two way binding</a></li>
                <li><a href="#!/binding/Modifications.html">Computed bindings</a></li>
                <li class="nav-header">Using controls</li>
                <li><a href="#!/controls/Button.html">Button</a></li>
                <li><a href="#!/controls/TextField.html">TextField</a></li>
                <li><a href="#!/controls/ListView.html">ListView</a></li>
                <li><a href="#!/controls/Tooltip.html">Tooltips</a></li>
                <li class="nav-header">Advanced usages</li>
                <li><a href="#!/advanced/CustomCell.html">Customized ListView</a></li>
                <li><a href="#!/advanced/GridPane.html">GridPane</a></li>
            </ul>
        </aside>
        <article class="span10" data-example="events/Observable.html">
            <h2 data-role="title">{% block title %}Loading demo...{% endblock %}</h2>
            <section id="intro" data-role="intro">{% block intro %}{% endblock %}</section>
            <section class="demo-output">
                <div data-role="output" class="output">{% block output %}{% endblock %}</div>
            </section>
            <div class="row-fluid">
                <h3 class="span11">Modify the example.</h3>
                <div class="span1" style="text-align: right;"><button class="btn btn-primary btn-large" data-role="run">Run</button></div>
            </div>
            <div class="row-fluid" data-role="jseditor">{% block js %}{% endblock %}</div>
        </article>
    </div>
</div>
<div class="container-fluid secondary">
    <div class="row-fluid">
        <h3 class="span12">About the example.</h3>
    </div>
    <div class="row-fluid">
        <section class="span12 about" data-role="about">{% block about %}{% endblock %}</section>
    </div>
    <div class="row-fluid">
        <ul class="span12 pager">
            <li class="previous disabled"><a href="#">&larr; Previous</a></li>
            <li class="next"><a href="#">&rarr; Next</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block footimport %}
<!-- load jQuery and bootstrop -->
<script src="/bower_components/jquery/jquery.min.js"></script>
<!-- load CodeMirror -->
<script src="/bower_components/codemirror/lib/codemirror.js"></script>
<script src="/bower_components/codemirror/addon/hint/show-hint.js"></script>
<script src="/bower_components/codemirror/addon/edit/closetag.js"></script>
<script src="/bower_components/codemirror/addon/hint/html-hint.js"></script>
<script src="/bower_components/codemirror/mode/xml/xml.js"></script>
<script src="/bower_components/codemirror/mode/javascript/javascript.js"></script>
<script src="/bower_components/codemirror/mode/css/css.js"></script>
<script src="/bower_components/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<!-- load documentation app -->
<script id="require_config">
    var require = {
        "packages": [{
            name: 'jidejs',
            location: '/bower_components/jidejs'
        }, {
            name: 'examples',
            location: '/examples'
        }],
        paths: {
            text: '/bower_components/requirejs-text/text'
        }
    };
</script>
<script src="/bower_components/requirejs/require.js"></script>
<script src="/jidejs-core.js"></script>
<script src="/examples/docs.js"></script>
{% endblock %}