<!DOCTYPE html>
<html>
<head>
    <title>jide.js Guide: {{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- load jide.js docs styling -->
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Quattrocento+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/style/docs.css">

    {% block head %}
    <script id="require_config">
        var require = {
            "packages": [{
                             name: 'jidejs',
                             location: '/bower_components/jidejs'
                         }],
            paths: {
                text: '/bower_components/requirejs-text/text'
            }
        };
    </script>
    <script src="/bower_components/requirejs/require.js"></script>
    {% endblock %}
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand" href="http://js.jidesoft.com">jide.js</a>
        <ul class="nav">
            <li{{ ' class="active"' if page.url == "/" }}><a href="/index.html">Getting Started</a></li>
            <li{{ ' class="active"' if env.helpers.startsWith(page.url, "/guide/") }}><a href="/guide/index.html">Guide</a></li>
            <li{{ ' class="active"' if env.helpers.startsWith(page.url, "/examples/") }}><a href="/examples/index.html">Examples</a></li>
            <li{{ ' class="active"' if env.helpers.startsWith(page.url, "/demo/") }}><a href="/demo/index.html">Demos</a></li>
            <li{{ ' class="active"' if env.helpers.startsWith(page.url, "/api/") }}><a href="/api/index.html">API</a></li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    {% block content %}
    <div class="row-fluid">
        <article class="span12">
            {{ env['helpers']['doclink'](page.html, page) }}
        </article>
    </div>
    {% endblock %}
</div>{% block secondary_content %}{% endblock %}
{#
<aside class="container-fluid tertiary">
    <div class="row-fluid company-links">
        <article class="span3">
            <h4>About Us</h4>
            <ul>
                <li><a href="http://www.jidesoft.com/company.html'">Our History</a></li>
                <li><a href="http://www.jidesoft.com/company/customers.html">Customers</a></li>
                <li><a href="http://www.jidesoft.com/company/testimonials.html">Testimonials</a></li>
                <li><a href="http://www.jidesoft.com/blog/">Blog</a></li>
                <li><a href="http://www.jidesoft.com/company/contact.html">Contact</a></li>
            </ul>
        </article>
        <article class="span3">
            <h4>Products</h4>
            <ul>
                <li><a href="http://www.jidesoft.com/products/swing.html">Swing</a></li>
                <li><a href="http://www.jidesoft.com/products/jidefx.html">JideFX</a></li>
                <li><a href="http://www.jidesoft.com/products/jidejs.html">HTML5</a></li>
                <li><a href="http://www.jidesoft.com/products/icons.html">UI/Graphics Design</a></li>
            </ul>
        </article>
        <article class="span3">
            <h4>Support</h4>
            <ul>
                <li><a href="http://www.jidesoft.com/downloads/index.php">Releases</a></li>
                <li><a href="http://www.jidesoft.com/forum/">Forums</a></li>
                <li><a href="http://www.jidesoft.com/history/index.php">Change Log</a></li>
                <li><a href="http://www.jidesoft.com/services.html">Services</a></li>
            </ul>
        </article>
        <article class="span3">
            <h4>Social Profiles</h4>
            <ul>
                <li><a href="https://www.facebook.com/jidesoft">Facebook</a></li>
                <li><a href="http://www.twitter.com/jidesoft">Follow Us On Twitter</a></li>
                <li><a href="https://plus.google.com/117950435317935099112/posts">Google+</a></li>
            </ul>
        </article>
    </div>
</aside>
#}
<!--==============================footer=================================-->
<footer>
    JIDE Software, Inc. 2002-<script>document.write(new Date().getFullYear());</script> | <a href="http://www.jidesoft.com/company/privacy.html">Privacy Policy</a>
</footer>
{% block footimport %}
<!-- load jQuery and bootstrop -->
<script src="/bower_components/jquery/jquery.min.js"></script>
{% endblock %}
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-1514948-2', 'jidesoft.com');
    ga('send', 'pageview');
</script>
</body>
</html>