<!DOCTYPE html>
<html>
<head>
    <title>jide.js - Grid layout demo</title>
    <link rel="stylesheet" type="text/css" href="../../../style/default.css">
    <style>
        html, body {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            overflow: hidden;
        }
        .templates {
            display: none;
        }
    </style>
</head>
<body>
<div class="templates">
    <div id="about">
        <p>This demo shows how to use the jide.js GridPane to layout a simple page
        and a form.</p>
    </div>
    <div id="thingsToTry">
        <p>Resize the browser.</p>
    </div>
</div>
<script src="../../../bower_components/requirejs/require.js" data-main="main.js"></script>
</body>
</html>